Repository cossacklabs/themis, pull requests merged in 2018-10, with the labels that each got.

#326 NaN ’NewInstance’ API fix
  src/wrappers/themis/jsthemis/secure_cell_context_imprint.cpp
  src/wrappers/themis/jsthemis/secure_cell_seal.cpp
  src/wrappers/themis/jsthemis/secure_cell_token_protect.cpp
  src/wrappers/themis/jsthemis/secure_comparator.cpp
  src/wrappers/themis/jsthemis/secure_keygen.cpp
  src/wrappers/themis/jsthemis/secure_message.cpp
  src/wrappers/themis/jsthemis/secure_session.cpp
Labels: jsthemis

#327 jsthemis update (support new versions of NaN and Nodejs)
  docs/examples/js/secure_cell.js
  docs/examples/js/secure_comparator_client.js
  docs/examples/js/secure_comparator_server.js
  docs/examples/js/secure_message.js
  docs/examples/js/secure_session_client.js
  docs/examples/js/secure_session_server.js
  src/wrappers/themis/jsthemis/package.json
  src/wrappers/themis/jsthemis/secure_cell_context_imprint.cpp
  src/wrappers/themis/jsthemis/secure_cell_seal.cpp
  src/wrappers/themis/jsthemis/secure_cell_token_protect.cpp
  src/wrappers/themis/jsthemis/secure_comparator.cpp
  src/wrappers/themis/jsthemis/secure_keygen.cpp
  src/wrappers/themis/jsthemis/secure_message.cpp
  src/wrappers/themis/jsthemis/secure_session.cpp
Labels: installation, jsthemis

#328 Fix PHP tests by updating SHA of installer
  tests/phpthemis/composer-setup.sh
Labels: php

#329 Allow to disable reference of AES-256-XTS for Themis iOS
  src/soter/boringssl/soter_sym.c
  src/wrappers/themis/Obj-C/objcthemis/objcthemis.h
Labels: core

#331 Update Themis iOS tests to use fresh Themis podspec from master
  tests/objcthemis/Podfile
  tests/objcthemis/Podfile.lock
  tests/objcthemis/objcthemis.xcodeproj/project.pbxproj
Labels: ios, tests
