Repository cossacklabs/themis, pull requests merged in 2019-03, with the labels that each got.

#403 Remove "cargo deadlinks" check
  .circleci/config.yml
  tests/rust/run_tests.sh
Labels: infrastructure, rust

#400 Use new Secure Message API in GoThemis
  gothemis/keys/keypair.go
  gothemis/message/message.go
Labels: go

#405 Run Rust tests in a single thread
  tests/rust/run_tests.sh
Labels: rust

#407 Update bitcode setting in Themis.podspec [iOS]
  docs/examples/Themis-server/Obj-C/Podfile
  docs/examples/Themis-server/Obj-C/Podfile.lock
  docs/examples/Themis-server/swift/Podfile
  docs/examples/Themis-server/swift/Podfile.lock
  docs/examples/objc/Podfile
  docs/examples/objc/Podfile.lock
  docs/examples/objc/ThemisTest/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/swift/Podfile
  docs/examples/swift/Podfile.lock
  docs/examples/swift/ThemisSwift/ThemisSwift.xcodeproj/project.pbxproj
  tests/objcthemis/Podfile.lock
  tests/objcthemis/objcthemis.xcodeproj/project.pbxproj
  themis.podspec
Labels: installation, ios

#408 Fix Secure Cell corruption tests on i386
  tests/themis/themis_secure_cell.c
Labels: core, tests

#401 Use new Secure Message API in PyThemis
  src/wrappers/themis/python/pythemis/smessage.py
  tests/pythemis/test_smessage.py
Labels: python

#402 Use new Secure Message API in RubyThemis
  src/wrappers/themis/ruby/lib/rubythemis.rb
  tests/rubythemis/smessage_test.rb
Labels: ruby

#415 Update iOS wrapper header structure to compile Swift framework
  docs/examples/swift/Podfile
  docs/examples/swift/Podfile.lock
  docs/examples/swift/ThemisSwift/ThemisSwift.xcodeproj/project.pbxproj
  docs/examples/swift/ThemisSwift/ThemisSwift/Classes/AppDelegate.swift
  src/wrappers/themis/Obj-C/objcthemis/objcthemis.h
  src/wrappers/themis/Obj-C/objcthemis/scell_context_imprint.h
  src/wrappers/themis/Obj-C/objcthemis/scell_context_imprint.m
  src/wrappers/themis/Obj-C/objcthemis/scell_seal.h
  src/wrappers/themis/Obj-C/objcthemis/scell_seal.m
  src/wrappers/themis/Obj-C/objcthemis/scell_token.h
  src/wrappers/themis/Obj-C/objcthemis/scell_token.m
  src/wrappers/themis/Obj-C/objcthemis/scomparator.h
  src/wrappers/themis/Obj-C/objcthemis/scomparator.m
  src/wrappers/themis/Obj-C/objcthemis/skeygen.h
  src/wrappers/themis/Obj-C/objcthemis/skeygen.m
  src/wrappers/themis/Obj-C/objcthemis/smessage.h
  src/wrappers/themis/Obj-C/objcthemis/smessage.m
  src/wrappers/themis/Obj-C/objcthemis/ssession.h
  src/wrappers/themis/Obj-C/objcthemis/ssession.m
  src/wrappers/themis/Obj-C/objcthemis/ssession_transport_interface.h
  src/wrappers/themis/Obj-C/objcthemis/ssession_transport_interface.m
Labels: ios

#413 Silent version checks
  Makefile
Labels: infrastructure

#414 Improve NIST STS makefiles
  tests/soter/nist-sts/.gitignore
  tests/soter/nist-sts/assess
  tests/soter/nist-sts/makefile
  tests/test.mk
Labels: infrastructure, tests

#417 Improve progress column output
  Makefile
Labels: enhancement

#416 Draft 0.10.4 Themis iOS podspec
  docs/examples/Themis-server/Obj-C/Podfile
  docs/examples/Themis-server/Obj-C/Podfile.lock
  docs/examples/Themis-server/swift/Podfile
  docs/examples/Themis-server/swift/Podfile.lock
  docs/examples/Themis-server/swift/SwiftThemisServerExample/SwiftThemisServerExample/SMessageClient.swift
  docs/examples/Themis-server/swift/SwiftThemisServerExample/SwiftThemisServerExample/SSessionClient.swift
  docs/examples/Themis-server/swift/SwiftThemisServerExample/SwiftThemisServerExample/SwiftThemisServerExample-Bridging-Header.h
  docs/examples/objc/Podfile
  docs/examples/objc/Podfile.lock
  docs/examples/swift/Podfile.lock
  docs/examples/swift/ThemisSwift/ThemisSwift.xcodeproj/project.pbxproj
  docs/examples/swift/ThemisSwift/ThemisSwift/Classes/AppDelegate.swift
  docs/examples/swift/ThemisSwift/ThemisSwift/ThemisSwift-Bridging-Header.h
  themis.podspec
Labels: ios

#410 Formatting: automatic formatting for ThemisPP tests
  tests/test.mk
  tests/themispp/main.cpp
  tests/themispp/secure_cell_test.hpp
  tests/themispp/secure_comparator_test.hpp
  tests/themispp/secure_message_test.hpp
  tests/themispp/secure_session_test.hpp
  tests/themispp/themispp.mk
Labels: cpp

#412 Formatting: JsThemis native extension
  .circleci/config.yml
  Makefile
  src/wrappers/themis/jsthemis/addon.cpp
  src/wrappers/themis/jsthemis/common.hpp
  src/wrappers/themis/jsthemis/errors.cpp
  src/wrappers/themis/jsthemis/errors.hpp
  src/wrappers/themis/jsthemis/jsthemis.mk
  src/wrappers/themis/jsthemis/secure_cell_context_imprint.cpp
  src/wrappers/themis/jsthemis/secure_cell_context_imprint.hpp
  src/wrappers/themis/jsthemis/secure_cell_seal.cpp
  src/wrappers/themis/jsthemis/secure_cell_seal.hpp
  src/wrappers/themis/jsthemis/secure_cell_token_protect.cpp
  src/wrappers/themis/jsthemis/secure_cell_token_protect.hpp
  src/wrappers/themis/jsthemis/secure_comparator.cpp
  src/wrappers/themis/jsthemis/secure_comparator.hpp
  src/wrappers/themis/jsthemis/secure_keygen.cpp
  src/wrappers/themis/jsthemis/secure_keygen.hpp
  src/wrappers/themis/jsthemis/secure_message.cpp
  src/wrappers/themis/jsthemis/secure_message.hpp
  src/wrappers/themis/jsthemis/secure_session.cpp
  src/wrappers/themis/jsthemis/secure_session.hpp
  src/wrappers/themis/rust/libthemis-src/themis/src/wrappers/themis/jsthemis/jsthemis.mk
Labels: jsthemis

#420 Formatting: JNI module for Java/Android wrappers
  .circleci/config.yml
  jni/themis_cell.c
  jni/themis_compare.c
  jni/themis_jni.c
  jni/themis_jni.mk
  jni/themis_keygen.c
  jni/themis_message.c
  jni/themis_session.c
Labels: android, java

#421 Formatting: AFL tools
  tools/afl/fuzzy.mk
  tools/afl/src/readline.c
  tools/afl/src/readline.h
  tools/afl/src/scell_seal_decrypt.c
  tools/afl/src/scell_seal_roundtrip.c
Labels: core, tests

#377 Enable more compiler warnings
  .circleci/config.yml
  Makefile
  jni/themis_cell.c
  jni/themis_compare.c
  jni/themis_jni.c
  jni/themis_keygen.c
  jni/themis_message.c
  jni/themis_session.c
  src/soter/boringssl/soter_asym_cipher.c
  src/soter/boringssl/soter_sym.c
  src/soter/openssl/soter_sym.c
  src/themis/secure_message_wrapper.c
  src/wrappers/themis/themispp/secure_comparator.hpp
  src/wrappers/themis/themispp/secure_session.hpp
  tests/soter/soter.mk
  tests/soter/soter_asym_cipher_test.c
  tests/soter/soter_rand_test.c
  tests/soter/soter_sign_test.c
  tests/test.mk
  tests/themis/themis.mk
  tests/themis/themis_seccure_message.c
  tests/themis/themis_secure_cell.c
  tests/themis/themis_secure_comparator_security.c
  tests/themis/themis_secure_session.c
  tools/afl/fuzzy.mk
Labels: core, cpp

#419 Make publishing libthemis-src easier
  Cargo.toml
  Makefile
  src/wrappers/themis/rust/Cargo.toml
  src/wrappers/themis/rust/examples
  src/wrappers/themis/rust/libthemis-src/Cargo.toml
  src/wrappers/themis/rust/libthemis-src/src/lib.rs
  src/wrappers/themis/rust/libthemis-src/themis/README.md
  src/wrappers/themis/rust/libthemis-src/themis/jni
  src/wrappers/themis/rust/libthemis-src/themis/src/wrappers/themis/jsthemis/jsthemis.mk
  src/wrappers/themis/rust/libthemis-src/themis/tests
  src/wrappers/themis/rust/libthemis-src/themis/tools
  src/wrappers/themis/rust/tests
  tests/test.mk
  tools/rust/Cargo.toml
Labels: rust

#422 Fix golint warnings
  docs/examples/Themis-server/go/smessage_server.go
  docs/examples/Themis-server/go/ssession_server.go
  docs/examples/go/secure_cell_context_imprint.go
  docs/examples/go/secure_cell_seal.go
  docs/examples/go/secure_cell_token_protect.go
  docs/examples/go/secure_comparator_client.go
  docs/examples/go/secure_comparator_server.go
  docs/examples/go/secure_keygen.go
  docs/examples/go/secure_message.go
  docs/examples/go/secure_session_client.go
  docs/examples/go/secure_session_server.go
  gothemis/cell/cell.go
  gothemis/cell/cell_test.go
  gothemis/compare/compare.go
  gothemis/compare/compare_test.go
  gothemis/errors/error.go
  gothemis/keys/keypair.go
  gothemis/message/message.go
  gothemis/message/message_test.go
  gothemis/session/session.go
  gothemis/session/session_test.go
Labels: go

#423 Fix other Go Report Card warnings
  docs/examples/Themis-server/go/smessage_server.go
  docs/examples/Themis-server/go/ssession_server.go
  docs/examples/go/secure_message.go
  docs/examples/go/secure_session_client.go
  docs/examples/go/secure_session_server.go
  gothemis/cell/cell.go
  gothemis/cell/cell_test.go
  gothemis/compare/compare.go
  gothemis/message/message_test.go
  gothemis/session/session.go
  gothemis/session/session_test.go
Labels: go

#426 Additional Go Report fixes
  tools/go/keygen.go
  tools/go/scell_context_string_echo.go
  tools/go/scell_seal_string_echo.go
  tools/go/scell_token_string_echo.go
  tools/go/smessage_encryption.go
Labels: go

#424 Deprecate incorrectly named API
  docs/examples/go/secure_cell_context_imprint.go
  docs/examples/go/secure_cell_seal.go
  docs/examples/go/secure_cell_token_protect.go
  docs/examples/go/secure_comparator_client.go
  docs/examples/go/secure_comparator_server.go
  docs/examples/go/secure_keygen.go
  docs/examples/go/secure_session_client.go
  docs/examples/go/secure_session_server.go
  gothemis/cell/cell.go
  gothemis/cell/cell_test.go
  gothemis/compare/compare.go
  gothemis/compare/compare_test.go
  gothemis/keys/keypair.go
  gothemis/keys/keypair_test.go
  gothemis/message/message_test.go
  gothemis/session/session.go
  gothemis/session/session_test.go
  tools/afl/generate/scell_seal_decrypt.go
  tools/go/keygen.go
  tools/go/scell_context_string_echo.go
  tools/go/scell_seal_string_echo.go
  tools/go/scell_token_string_echo.go
Labels: compatibility, go

#427 Xcode project for Carthage
  .gitignore
  Cartfile
  Cartfile.resolved
  Themis.xcodeproj/project.pbxproj
  Themis.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Themis.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Themis.xcodeproj/xcshareddata/xcschemes/Themis (iOS).xcscheme
  Themis.xcodeproj/xcshareddata/xcschemes/Themis (macOS).xcscheme
  src/wrappers/themis/Obj-C/Themis/Info.plist
  src/wrappers/themis/Obj-C/Themis/themis.h
Labels: enhancement, infrastructure, ios, macos, swift

#429 Drop SECURE_COMPARATOR_ENABLED usage
  docs/examples/objc/iOS-CocoaPods/Podfile
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTest/Classes/AppDelegate.m
  docs/examples/swift/iOS-CocoaPods/Podfile
  tests/objcthemis/Podfile
  tests/objcthemis/objthemis/SecureComparatorTests.m
  tests/objcthemis/objthemis/objthemis-Bridging-Header.h
Labels: ios, macos

#430 Update Carthage dependencies
  Cartfile
  Cartfile.resolved
Labels: ios, macos

#432 Update OpenSSL version for Carthage
  Cartfile
  Cartfile.resolved
Labels: ios, macos

#435 Update readme, makefile and changelog for `0.11.0`
  CHANGELOG.md
  ISSUE_TEMPLATE.md
  Makefile
  README.md
  docs/examples/README.MD
Labels: docs

#437 RubyThemis 0.11
  src/wrappers/themis/ruby/rbthemis.gemspec
Labels: ruby

#438 Rust-Themis 0.11
  src/wrappers/themis/rust/CHANGELOG.md
  src/wrappers/themis/rust/Cargo.toml
  src/wrappers/themis/rust/libthemis-src/Cargo.toml
  src/wrappers/themis/rust/libthemis-sys/Cargo.toml
Labels: rust

#436 PyThemis 0.11
  src/wrappers/themis/python/PKG-INFO
  src/wrappers/themis/python/README.rst
  src/wrappers/themis/python/setup.py
Labels: python

#433 Update Carthage examples to 0.11.0
  docs/examples/objc/iOS-Carthage/Cartfile
  docs/examples/objc/iOS-Carthage/Cartfile.resolved
  docs/examples/objc/macOS-Carthage/Cartfile
  docs/examples/objc/macOS-Carthage/Cartfile.resolved
  docs/examples/swift/iOS-Carthage/Cartfile
  docs/examples/swift/iOS-Carthage/Cartfile.resolved
  docs/examples/swift/macOS-Carthage/Cartfile
  docs/examples/swift/macOS-Carthage/Cartfile.resolved
Labels: ios, macos

#439 Update packages for 0.11.0: ios, macos, php, js, android, java
  build.gradle
  docs/examples/Themis-server/Obj-C/Podfile
  docs/examples/Themis-server/Obj-C/Podfile.lock
  docs/examples/Themis-server/swift/Podfile
  docs/examples/Themis-server/swift/Podfile.lock
  docs/examples/objc/iOS-CocoaPods/Podfile
  docs/examples/objc/iOS-CocoaPods/Podfile.lock
  docs/examples/swift/iOS-CocoaPods/Podfile
  docs/examples/swift/iOS-CocoaPods/Podfile.lock
  src/wrappers/themis/android/AndroidManifest.xml
  src/wrappers/themis/jsthemis/package.json
  src/wrappers/themis/php/php_themis.h
  src/wrappers/themis/php7/php_themis.h
  themis.podspec
  third_party/boringssl/AndroidManifest.xml
Labels: android, ios, java, jsthemis, macos, php

#440 0.11.0: update carthage inner version; update cocoapods tests
  src/wrappers/themis/Obj-C/Themis/Info.plist
  tests/objcthemis/Podfile.lock
Labels: ios, macos

#441 Include "tools" into source tarball
  Makefile
Labels: infrastructure
