Repository cossacklabs/themis, pull requests merged in 2019-02, with the labels that each got.

#361 Android: distribute via maven
  build.gradle
Labels: android, infrastructure

#362 Rename private key structures
  docs/examples/rust/README.md
  docs/examples/rust/keygen.rs
  docs/examples/rust/secure_message_client_encrypt.rs
  docs/examples/rust/secure_message_client_verify.rs
  src/wrappers/themis/rust/CHANGELOG.md
  src/wrappers/themis/rust/src/keygen.rs
  src/wrappers/themis/rust/src/keys.rs
  src/wrappers/themis/rust/src/secure_message.rs
  src/wrappers/themis/rust/src/secure_session.rs
  tests/rust/keys.rs
  tests/rust/secure_message.rs
  tests/rust/secure_session.rs
  tools/rust/README.md
  tools/rust/keygen_tool.rs
  tools/rust/smessage_encryption.rs
Labels: rust

#365 Early check for master key length in Secure Cell
  docs/examples/rust/secure_cell.rs
  src/wrappers/themis/rust/CHANGELOG.md
  src/wrappers/themis/rust/src/keys.rs
  src/wrappers/themis/rust/src/secure_cell.rs
  tests/rust/secure_cell.rs
  tools/rust/scell_context_string_echo.rs
  tools/rust/scell_seal_string_echo.rs
  tools/rust/scell_token_string_echo.rs
Labels: rust

#366 Simplify launching and testing fuzzing tools
  tools/afl/README.md
  tools/afl/fuzzy.mk
  tools/afl/src/scell_seal_decrypt.c
  tools/afl/src/scell_seal_roundtrip.c
Labels: core, infrastructure

#367 Fix overflows in Secure Cell
  src/soter/boringssl/soter_sym.c
  src/soter/openssl/soter_sym.c
  src/themis/secure_cell.c
  tests/soter/soter_sym_test.c
  tests/themis/themis_secure_cell.c
Labels: bug, core

#369 Improve Secure Session ergonomics with STL containers
  src/wrappers/themis/themispp/secure_session.hpp
  tests/themispp/secure_session_test.hpp
Labels: bug, cpp

#368 Crash triage tool for American Fuzzy Lop
  tools/afl/README.md
  tools/afl/analyze_crashes.sh
Labels: infrastructure

#370 Correct move construction/assignment implementation
  src/wrappers/themis/themispp/secure_session.hpp
Labels: bug, cpp

#371 Define non-member global functions as inline
  src/wrappers/themis/themispp/secure_session.hpp
Labels: cpp

#372 Add relevant badges and logos
  Cargo.toml
  src/wrappers/themis/rust/README.md
  src/wrappers/themis/rust/images/favicon.png
  src/wrappers/themis/rust/images/logo.png
  src/wrappers/themis/rust/libthemis-src/Cargo.toml
  src/wrappers/themis/rust/libthemis-sys/Cargo.toml
  src/wrappers/themis/rust/src/lib.rs
Labels: rust

#373 Simplify transport usage in Secure Session (T963)
  src/wrappers/themis/rust/src/secure_session.rs
Labels: rust

#374 Introduce TransportError type
  src/wrappers/themis/rust/src/secure_session.rs
  tests/rust/secure_session.rs
Labels: rust

#375 Forward transport errors from Secure Session callbacks
  src/wrappers/themis/rust/src/error.rs
  src/wrappers/themis/rust/src/secure_session.rs
Labels: rust

#376 Add more Secure Session tests
  src/wrappers/themis/rust/src/secure_session.rs
  tests/rust/secure_session.rs
Labels: rust

#379 Run C++ tests during CI builds
  .circleci/config.yml
  tests/themispp/themispp.mk
Labels: cpp, tests

#378 Smart pointer constructors for Secure Session
  src/soter/soter_error.h
  src/wrappers/themis/themispp/secure_session.hpp
  tests/themispp/secure_session_test.hpp
Labels: cpp

#380 Improve and extend Secure Session API docs
  src/wrappers/themis/rust/CHANGELOG.md
  src/wrappers/themis/rust/src/secure_session.rs
  tests/rust/secure_session.rs
Labels: rust

#381 Secure Session example code
  Cargo.toml
  docs/examples/rust/README.md
  docs/examples/rust/secure_session_echo_client.rs
  docs/examples/rust/secure_session_echo_server.rs
Labels: docs, rust

#382 Catch and handle panics in SecureSessionTransport
  src/wrappers/themis/rust/src/secure_session.rs
  tests/rust/secure_session.rs
Labels: rust

#383 Rust API Guidelines compliance
  docs/examples/rust/secure_compare.rs
  src/wrappers/themis/rust/src/keys.rs
  src/wrappers/themis/rust/src/secure_cell.rs
  src/wrappers/themis/rust/src/secure_comparator.rs
  src/wrappers/themis/rust/src/secure_message.rs
  src/wrappers/themis/rust/src/secure_session.rs
  tests/rust/secure_comparator.rs
  tests/rust/secure_session.rs
Labels: rust

#384 Improve error reporting in JsThemis
  src/wrappers/themis/jsthemis/addon.cpp
  src/wrappers/themis/jsthemis/binding.gyp
  src/wrappers/themis/jsthemis/errors.cpp
  src/wrappers/themis/jsthemis/errors.hpp
  src/wrappers/themis/jsthemis/secure_cell_context_imprint.cpp
  src/wrappers/themis/jsthemis/secure_cell_seal.cpp
  src/wrappers/themis/jsthemis/secure_cell_token_protect.cpp
  src/wrappers/themis/jsthemis/secure_comparator.cpp
  src/wrappers/themis/jsthemis/secure_keygen.cpp
  src/wrappers/themis/jsthemis/secure_message.cpp
  src/wrappers/themis/jsthemis/secure_session.cpp
  tests/jsthemis/test.js
  tests/test.mk
Labels: jsthemis

#386 Additional safety checks for Secure Session
  src/themis/secure_session.c
  src/themis/secure_session_peer.c
Labels: core

#387 Add CODEOWNERS file
  CODEOWNERS
Labels: infrastructure

#385 Improve error reporting in ThemisPP
  src/wrappers/themis/themispp/exception.hpp
  src/wrappers/themis/themispp/secure_cell.hpp
  src/wrappers/themis/themispp/secure_comparator.hpp
  src/wrappers/themis/themispp/secure_keygen.hpp
  src/wrappers/themis/themispp/secure_message.hpp
  src/wrappers/themis/themispp/secure_session.hpp
  tests/themispp/secure_cell_test.hpp
  tests/themispp/secure_message_test.hpp
  tests/themispp/secure_session_test.hpp
Labels: cpp

#388 Remove themis_version() API
  src/soter/boringssl/soter.c
  src/soter/openssl/soter.c
  src/soter/soter.h
  src/themis/themis.c
  src/themis/themis.h
  src/wrappers/themis/ruby/lib/rubythemis.rb
  src/wrappers/themis/rust/libthemis-sys/tests/sanity.rs
  tests/themis/themis_test.c
Labels: core, ruby, rust

#390 Keep Rust README minimal
  src/wrappers/themis/rust/README.md
Labels: docs, rust

#389 Introduce new Secure Message API
  jni/themis_message.c
  src/themis/secure_keygen.c
  src/themis/secure_keygen.h
  src/themis/secure_message.c
  src/themis/secure_message.h
  src/themis/themis.h
  src/wrappers/themis/java/com/cossacklabs/themis/SecureMessage.java
  src/wrappers/themis/jsthemis/secure_keygen.cpp
  src/wrappers/themis/jsthemis/secure_keygen.hpp
  src/wrappers/themis/jsthemis/secure_message.cpp
  src/wrappers/themis/jsthemis/secure_message.hpp
  src/wrappers/themis/rust/libthemis-sys/build.rs
  src/wrappers/themis/rust/libthemis-sys/src/wrapper.c
  src/wrappers/themis/rust/libthemis-sys/src/wrapper.h
  src/wrappers/themis/rust/src/keys.rs
  src/wrappers/themis/rust/src/secure_message.rs
  src/wrappers/themis/themispp/secure_keygen.hpp
  src/wrappers/themis/themispp/secure_message.hpp
  tests/jsthemis/test.js
  tests/soter/nist-sts/assess
  tests/themis/themis_seccure_message.c
  tests/themispp/secure_message_test.hpp
Labels: android, core, cpp, enhancement, java, jsthemis, rust

#393 Update Themis iOS wrapper for new SecureMessage API (1 Part)
  src/wrappers/themis/Obj-C/objcthemis/scell.h
  src/wrappers/themis/Obj-C/objcthemis/scell.m
  src/wrappers/themis/Obj-C/objcthemis/scell_context_imprint.m
  src/wrappers/themis/Obj-C/objcthemis/scell_seal.h
  src/wrappers/themis/Obj-C/objcthemis/scell_seal.m
  src/wrappers/themis/Obj-C/objcthemis/scell_token.h
  src/wrappers/themis/Obj-C/objcthemis/scell_token.m
  src/wrappers/themis/Obj-C/objcthemis/scomparator.h
  src/wrappers/themis/Obj-C/objcthemis/scomparator.m
  src/wrappers/themis/Obj-C/objcthemis/skeygen.h
  src/wrappers/themis/Obj-C/objcthemis/skeygen.m
  src/wrappers/themis/Obj-C/objcthemis/smessage.h
  src/wrappers/themis/Obj-C/objcthemis/smessage.m
  src/wrappers/themis/Obj-C/objcthemis/ssession.h
  src/wrappers/themis/Obj-C/objcthemis/ssession.m
  src/wrappers/themis/Obj-C/objcthemis/ssession_transport_interface.h
  src/wrappers/themis/Obj-C/objcthemis/ssession_transport_interface.m
Labels: ios

#394 Update tests for Themis iOS wrapper for new SecureMessage API
  tests/objcthemis/Podfile.lock
  tests/objcthemis/objthemis/SecureMessageTests.m
  tests/objcthemis/objthemis/SecureMessageTestsSwift.swift
Labels: ios, tests

#395 Automate C code formatting [1/3]
  .clang-format
  .clang-tidy
  Makefile
  src/soter/boringssl/soter.mk
  src/soter/openssl/soter.mk
  src/soter/soter.mk
  src/themis/themis.mk
  tests/soter/nist-sts/.clang-format
Labels: core, infrastructure

#397 Automate C code formatting [3/3]
  .circleci/config.yml
Labels: core, infrastructure

#398 Fix a warning about memory leak in Secure Message
  src/themis/secure_message_wrapper.c
Labels: core
