Repository cossacklabs/themis, pull requests merged in 2019-01, with the labels that each got.

#348 Fix redirection clause
  Makefile
Labels: bug

#340 Initial Rust binding
  .gitignore
  Cargo.toml
  docs/examples/rust/README.md
  docs/examples/rust/keygen.rs
  docs/examples/rust/secure_cell.rs
  docs/examples/rust/secure_compare.rs
  docs/examples/rust/secure_message_client_encrypt.rs
  docs/examples/rust/secure_message_client_verify.rs
  docs/examples/rust/secure_message_server.rs
  src/wrappers/themis/rust/CHANGELOG.md
  src/wrappers/themis/rust/LICENSE
  src/wrappers/themis/rust/README.md
  src/wrappers/themis/rust/libthemis-sys/Cargo.toml
  src/wrappers/themis/rust/libthemis-sys/LICENSE
  src/wrappers/themis/rust/libthemis-sys/README.md
  src/wrappers/themis/rust/libthemis-sys/build.rs
  src/wrappers/themis/rust/libthemis-sys/src/lib.rs
  src/wrappers/themis/rust/libthemis-sys/src/wrapper.c
  src/wrappers/themis/rust/libthemis-sys/src/wrapper.h
  src/wrappers/themis/rust/libthemis-sys/tests/sanity.rs
  src/wrappers/themis/rust/pkgconfig/local/libsoter.pc
  src/wrappers/themis/rust/pkgconfig/local/libthemis.pc
  src/wrappers/themis/rust/pkgconfig/system/libsoter.pc
  src/wrappers/themis/rust/pkgconfig/system/libthemis.pc
  src/wrappers/themis/rust/src/error.rs
  src/wrappers/themis/rust/src/keygen.rs
  src/wrappers/themis/rust/src/keys.rs
  src/wrappers/themis/rust/src/lib.rs
  src/wrappers/themis/rust/src/secure_cell.rs
  src/wrappers/themis/rust/src/secure_comparator.rs
  src/wrappers/themis/rust/src/secure_message.rs
  src/wrappers/themis/rust/src/secure_session.rs
  src/wrappers/themis/rust/src/utils.rs
  tests/rust/keys.rs
  tests/rust/secure_cell.rs
  tests/rust/secure_comparator.rs
  tests/rust/secure_message.rs
  tests/rust/secure_session.rs
Labels: rust

#349 Update Rust binding to v0.0.3
  Cargo.toml
  docs/examples/rust/README.md
  docs/examples/rust/keygen.rs
  docs/examples/rust/secure_cell.rs
  docs/examples/rust/secure_compare.rs
  docs/examples/rust/secure_message_client_encrypt.rs
  docs/examples/rust/secure_message_client_verify.rs
  docs/examples/rust/secure_message_server.rs
  src/wrappers/themis/rust/CHANGELOG.md
  src/wrappers/themis/rust/README.md
  src/wrappers/themis/rust/libthemis-src/Cargo.toml
  src/wrappers/themis/rust/libthemis-src/LICENSE
  src/wrappers/themis/rust/libthemis-src/README.md
  src/wrappers/themis/rust/libthemis-src/src/lib.rs
  src/wrappers/themis/rust/libthemis-src/themis
  src/wrappers/themis/rust/libthemis-sys/Cargo.toml
  src/wrappers/themis/rust/libthemis-sys/build.rs
  src/wrappers/themis/rust/libthemis-sys/src/lib.rs
  src/wrappers/themis/rust/libthemis-sys/tests/sanity.rs
  src/wrappers/themis/rust/pkgconfig/local/libsoter.pc
  src/wrappers/themis/rust/pkgconfig/local/libthemis.pc
  src/wrappers/themis/rust/pkgconfig/system/libsoter.pc
  src/wrappers/themis/rust/pkgconfig/system/libthemis.pc
  src/wrappers/themis/rust/src/keygen.rs
  src/wrappers/themis/rust/src/keys.rs
  src/wrappers/themis/rust/src/lib.rs
  src/wrappers/themis/rust/src/secure_cell.rs
  src/wrappers/themis/rust/src/secure_comparator.rs
  src/wrappers/themis/rust/src/secure_message.rs
  src/wrappers/themis/rust/src/secure_session.rs
  tests/rust/keys.rs
  tests/rust/secure_cell.rs
  tests/rust/secure_comparator.rs
  tests/rust/secure_message.rs
  tests/rust/secure_session.rs
Labels: rust

#351 fix typo in comment in themis.podspec
  themis.podspec
Labels: installation, ios

#352 Update BoringSSL submodule config to use Clang and new gradle
  .circleci/config.yml
  jni/Application.mk
  third_party/boringssl/build.gradle
Labels: android, boringssl, installation

#354 Podspec fix, enables bitcode for themis/themis-openssl
  themis.podspec
Labels: installation, ios

#355 Update Themis.podspec to use bitcode
  docs/examples/objc/Podfile
  docs/examples/objc/Podfile.lock
  docs/examples/objc/ThemisTest/ThemisTest.xcodeproj/project.pbxproj
  themis.podspec
Labels: installation, ios

#356 Rust integration tests
  .circleci/config.yml
  Cargo.toml
  Makefile
  tests/_integration/tests_generator.py
  tests/test.mk
  tests/tools/check_keygen.sh
  tools/rust/.gitignore
  tools/rust/README.md
  tools/rust/keygen_tool.rs
  tools/rust/scell_context_string_echo.rs
  tools/rust/scell_seal_string_echo.rs
  tools/rust/scell_token_string_echo.rs
  tools/rust/smessage_encryption.rs
Labels: rust, tests

#353 Teach CircleCI to build Rust wrapper
  .circleci/config.yml
  Makefile
  src/wrappers/themis/rust/libthemis-src/Cargo.toml
  src/wrappers/themis/rust/libthemis-src/src/lib.rs
  src/wrappers/themis/rust/libthemis-src/themis
  src/wrappers/themis/rust/libthemis-src/themis/LICENSE
  src/wrappers/themis/rust/libthemis-src/themis/Makefile
  src/wrappers/themis/rust/libthemis-src/themis/README.md
  src/wrappers/themis/rust/libthemis-src/themis/jni
  src/wrappers/themis/rust/libthemis-src/themis/src/soter
  src/wrappers/themis/rust/libthemis-src/themis/src/themis
  src/wrappers/themis/rust/libthemis-src/themis/tests
  tests/rust/keys.rs
  tests/rust/run_tests.sh
  tests/rust/secure_cell.rs
  tests/rust/secure_message.rs
  tests/test.mk
Labels: infrastructure, rust

#360 update php compose installer
  tests/phpthemis/composer-setup.sh
Labels: infrastructure, installation, php
