Repository cossacklabs/themis, pull requests merged in 2020-10, with the labels that each got.

#718 Fix Clippy warning
  src/wrappers/themis/rust/src/secure_comparator.rs
Labels: W-RustThemis :crab:

#719 Hotfix for Themis CocoaPods podspec: support Xcode12
  CHANGELOG.md
  docs/examples/Themis-server/Obj-C/Podfile
  docs/examples/Themis-server/swift/Podfile
  docs/examples/objc/iOS-CocoaPods/Podfile
  docs/examples/swift/iOS-CocoaPods/Podfile
  tests/objcthemis/Podfile
  themis.podspec
Labels: M-CocoaPods, O-iOS :iphone:

#720 Sync release/0.13 with master [Merge 0.13.2 hotfix for CocoaPods]
  CHANGELOG.md
  docs/examples/Themis-server/Obj-C/Podfile
  docs/examples/Themis-server/swift/Podfile
  docs/examples/objc/iOS-CocoaPods/Podfile
  docs/examples/swift/iOS-CocoaPods/Podfile
  tests/objcthemis/Podfile
  themis.podspec
Labels: docs :books:

#721 Switch github actions to Xcode12 [ios, macos]
  .github/workflows/test-objc.yaml
  CHANGELOG.md
  docs/examples/swift/iOS-CocoaPods/Podfile
  docs/examples/swift/iOS-CocoaPods/Podfile.lock
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift.xcodeproj/project.pbxproj
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift.xcodeproj/xcshareddata/xcschemes/ThemisSwift.xcscheme
Labels: O-iOS :iphone:, infrastructure

#722 Updates of example projects for Xcode12.0.1
  .github/workflows/test-objc.yaml
  CHANGELOG.md
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift.xcodeproj/project.pbxproj
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Info.plist
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/100.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/1024.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/114.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/120.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/128.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/144.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/152.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/16.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/167.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/172.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/180.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/196.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/20.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/216.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/256.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/29.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/32.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/40.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/48.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/50.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/512.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/55.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/57.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/58.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/60.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/64.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/72.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/76.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/80.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/87.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/88.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  themis.podspec
Labels: M-Carthage, M-CocoaPods, O-iOS :iphone:, infrastructure

#723 update ios objc and server examples for themis 0.13.3
  CHANGELOG.md
  docs/examples/Themis-server/Obj-C/Podfile
  docs/examples/Themis-server/Obj-C/Podfile.lock
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServer.xcodeproj/project.pbxproj
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServer.xcodeproj/xcshareddata/xcschemes/WorkingWithThemisServer.xcscheme
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServer/Info.plist
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServerTests/Info.plist
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServerTests/WorkingWithThemisServerTests.m
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServerUITests/Info.plist
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServerUITests/WorkingWithThemisServerUITests.m
  docs/examples/Themis-server/swift/Podfile
  docs/examples/Themis-server/swift/Podfile.lock
  docs/examples/Themis-server/swift/SwiftThemisServerExample/SwiftThemisServerExample.xcodeproj/project.pbxproj
  docs/examples/Themis-server/swift/SwiftThemisServerExample/SwiftThemisServerExample.xcodeproj/xcshareddata/xcschemes/SwiftThemisServerExample.xcscheme
  docs/examples/Themis-server/swift/SwiftThemisServerExample/SwiftThemisServerExample/Assets.xcassets/AppIcon.appiconset/Contents.json
  docs/examples/objc/iOS-CocoaPods/Podfile
  docs/examples/objc/iOS-CocoaPods/Podfile.lock
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTest.xcodeproj/xcshareddata/xcschemes/ThemisTest.xcscheme
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTest/Info.plist
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTestTests/Info.plist
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTestTests/ThemisTestTests.m
Labels: M-CocoaPods, O-iOS :iphone:

#724 update iOS carthage examples for themis 0.13.3
  CHANGELOG.md
  docs/examples/objc/iOS-Carthage/Cartfile
  docs/examples/objc/iOS-Carthage/Cartfile.resolved
  docs/examples/objc/iOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/iOS-Carthage/ThemisTest.xcodeproj/xcshareddata/xcschemes/ThemisTest.xcscheme
  docs/examples/objc/iOS-Carthage/carthage_tweaked_build.sh
  docs/examples/swift/iOS-Carthage/Cartfile
  docs/examples/swift/iOS-Carthage/Cartfile.resolved
  docs/examples/swift/iOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/swift/iOS-Carthage/ThemisTest.xcodeproj/xcshareddata/xcschemes/ThemisTest.xcscheme
  docs/examples/swift/iOS-Carthage/carthage_tweaked_build.sh
Labels: M-Carthage, O-iOS :iphone:

#726 updated macOS examples for themis 0.13.3
  CHANGELOG.md
  docs/examples/objc/macOS-Carthage/Cartfile
  docs/examples/objc/macOS-Carthage/Cartfile.resolved
  docs/examples/objc/macOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/macOS-Carthage/ThemisTest.xcodeproj/xcshareddata/xcschemes/ThemisTest.xcscheme
  docs/examples/objc/macOS-Carthage/ThemisTest/Info.plist
  docs/examples/swift/macOS-Carthage/Cartfile
  docs/examples/swift/macOS-Carthage/Cartfile.resolved
  docs/examples/swift/macOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/swift/macOS-Carthage/ThemisTest.xcodeproj/xcshareddata/xcschemes/ThemisTest.xcscheme
  docs/examples/swift/macOS-Carthage/ThemisTest/Info.plist
Labels: M-Carthage, O-macOS :computer:

#728 Merge "release/0.13" into stable
  .github/workflows/test-objc.yaml
  CHANGELOG.md
  Cartfile
  Cartfile.resolved
  ObjCThemis.xcodeproj/project.pbxproj
  ObjCThemis.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ObjCThemis.xcodeproj/xcshareddata/xcschemes/ObjCThemis (macOS).xcscheme
  ObjCThemis.xcodeproj/xcshareddata/xcschemes/Test Themis (Swift 4, iOS).xcscheme
  Themis.xcodeproj/project.pbxproj
  Themis.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Themis.xcodeproj/xcshareddata/xcschemes/Test Themis (Swift 4, iOS).xcscheme
  Themis.xcodeproj/xcshareddata/xcschemes/Test Themis (Swift 4, macOS).xcscheme
  Themis.xcodeproj/xcshareddata/xcschemes/Test Themis (Swift 5, iOS).xcscheme
  Themis.xcodeproj/xcshareddata/xcschemes/Test Themis (Swift 5, macOS).xcscheme
  Themis.xcodeproj/xcshareddata/xcschemes/Themis (iOS).xcscheme
  Themis.xcodeproj/xcshareddata/xcschemes/Themis (macOS).xcscheme
  docs/examples/Themis-server/Obj-C/Podfile
  docs/examples/Themis-server/swift/Podfile
  docs/examples/objc/iOS-CocoaPods/Podfile
  docs/examples/swift/iOS-CocoaPods/Podfile
  gothemis/README.md
  gothemis/cell/cell.go
  gothemis/cell/context_imprint.go
  gothemis/cell/seal.go
  gothemis/cell/seal_pw.go
  gothemis/cell/token_protect.go
  gothemis/cell/token_protect_test.go
  gothemis/compare/compare.go
  gothemis/keys/keypair.go
  gothemis/keys/symmetric.go
  gothemis/message/message.go
  gothemis/session/session.go
  gradle.properties
  src/soter/openssl/soter_ec_key.c
  src/soter/openssl/soter_rsa_common.c
  src/soter/openssl/soter_rsa_key.c
  src/soter/openssl/soter_rsa_key_pair_gen.c
  src/themis/secure_cell_seal_passphrase.c
  src/themis/sym_enc_message.c
  src/wrappers/themis/Obj-C/Themis/themis.h
  src/wrappers/themis/Obj-C/exported.symbols
  src/wrappers/themis/android/build.gradle
  src/wrappers/themis/jsthemis/package-lock.json
  src/wrappers/themis/jsthemis/package.json
  src/wrappers/themis/wasm/package-lock.json
  src/wrappers/themis/wasm/package.json
  tests/objcthemis/Podfile
  tests/objcthemis/objthemis/SecureCellTests.m
  tests/objcthemis/objthemis/SecureComparatorTests.m
  tests/objcthemis/objthemis/SecureMessageTests.m
  tests/objcthemis/objthemis/StaticKeys.h
  tests/objcthemis/objthemis/objthemis-Bridging-Header.h
  themis.podspec
Labels: M-CocoaPods, W-ObjCThemis :art:, W-SwiftThemis :large_orange_diamond:, infrastructure, tests

#730 Support PHP Composer 2.0
  CHANGELOG.md
  tests/phpthemis/composer-php5.6.json
  tests/phpthemis/composer-php7.2.json
  tests/phpthemis/composer-php7.json
Labels: W-PHPThemis :elephant:, infrastructure, tests

#731 Make Themis a static framework
  CHANGELOG.md
  themis.podspec
Labels: M-CocoaPods, O-iOS :iphone:, O-macOS :computer:, W-ObjCThemis :art:, W-SwiftThemis :large_orange_diamond:

#732 Exclude macOS from arm64 builds with GRKOpenSSL
  CHANGELOG.md
  themis.podspec
Labels: C-OpenSSL, M-CocoaPods, O-iOS :iphone:, O-macOS :computer:, W-ObjCThemis :art:, W-SwiftThemis :large_orange_diamond:, dependencies

#733 Update supported SDKs and archs for Carthage
  .github/workflows/test-objc.yaml
  CHANGELOG.md
  Themis.xcodeproj/project.pbxproj
Labels: M-Carthage, O-iOS :iphone:, O-macOS :computer:, W-ObjCThemis :art:, W-SwiftThemis :large_orange_diamond:

#734 Use CocoaPods trunk CDN
  .github/workflows/test-objc.yaml
  docs/examples/Themis-server/Obj-C/Podfile
  docs/examples/Themis-server/Obj-C/Podfile.lock
  docs/examples/Themis-server/swift/Podfile
  docs/examples/Themis-server/swift/Podfile.lock
  docs/examples/objc/iOS-CocoaPods/Podfile
  docs/examples/objc/iOS-CocoaPods/Podfile.lock
  docs/examples/swift/iOS-CocoaPods/Podfile
  docs/examples/swift/iOS-CocoaPods/Podfile.lock
  tests/objcthemis/Podfile
Labels: M-CocoaPods, W-ObjCThemis :art:, W-SwiftThemis :large_orange_diamond:, infrastructure

#735 Update to CLOpenSSL 1.1.10801
  CHANGELOG.md
  Cartfile
  Cartfile.resolved
  Themis.xcodeproj/project.pbxproj
  themis.podspec
Labels: M-Carthage, M-CocoaPods, O-iOS :iphone:, O-macOS :computer:, W-ObjCThemis :art:, W-SwiftThemis :large_orange_diamond:, dependencies, installation

#736 Themis 0.13.4
  CHANGELOG.md
  Themis.xcodeproj/project.pbxproj
  themis.podspec
Labels: M-Carthage, M-CocoaPods, O-iOS :iphone:, O-macOS :computer:, W-ObjCThemis :art:, W-SwiftThemis :large_orange_diamond:, release

#738 Merge "release/0.13" into "stable"
  CHANGELOG.md
  Cartfile
  Cartfile.resolved
  Themis.xcodeproj/project.pbxproj
  themis.podspec
Labels: release

#739 Merge "stable" into "master"
  CHANGELOG.md
  Themis.xcodeproj/project.pbxproj
  themis.podspec
Labels: release
