Repository cossacklabs/themis, pull requests merged in 2020-02, with the labels that each got.

#584 Wipe partial PRNG output
  src/soter/boringssl/soter_rand.c
  src/soter/openssl/soter_rand.c
Labels: C-BoringSSL, C-OpenSSL, core

#585 Cleanup and test Soter KDF
  src/soter/soter_kdf.c
  src/soter/soter_kdf.h
  tests/soter/soter_kdf_test.c
  tests/soter/test_vectors/soter_kdf.go
Labels: core, tests

#586 Wipe output on failure: key generation
  src/soter/openssl/soter_rsa_key_pair_gen.c
  src/themis/secure_keygen.c
Labels: C-OpenSSL, core

#589 Update links from github wiki to docserver
  CHANGELOG.md
  README.md
  tests/test.mk
Labels: docs :books:

#590 Updating package descriptions and readmes
  build.gradle
  src/wrappers/themis/jsthemis/LICENSE
  src/wrappers/themis/jsthemis/README.md
  src/wrappers/themis/jsthemis/package.json
  src/wrappers/themis/python/PKG-INFO
  src/wrappers/themis/wasm/README.md
  src/wrappers/themis/wasm/package.json
  tests/phpthemis/README.md
  tools/afl/README.md
Labels: W-JavaThemis :coffee:, W-JsThemis :lollipop:, W-PHPThemis :elephant:, W-PyThemis :snake:, W-WasmThemis :globe_with_meridians:, docs :books:

#591 Avoid needless return in libthemis-sys
  src/wrappers/themis/rust/libthemis-sys/build.rs
Labels: W-RustThemis :crab:

#577 Passphrase-based API of Secure Cell
  CHANGELOG.md
  Themis.xcodeproj/project.pbxproj
  src/themis/secure_cell.c
  src/themis/secure_cell.h
  src/themis/secure_cell_alg.h
  src/themis/secure_cell_seal_passphrase.c
  src/themis/secure_cell_seal_passphrase.h
  src/themis/sym_enc_message.c
  src/themis/sym_enc_message.h
  src/themis/themis_portable_endian.h
  tests/common/test_utils.h
  tests/soter/soter_kdf_test.c
  tests/themis/themis_secure_cell.c
Labels: core

#582 Benchmark passphrase API of Secure Cell
  .circleci/config.yml
  benches/themis/Cargo.toml
  benches/themis/README.md
  benches/themis/benches/secure_cell_seal_passphrase.rs
Labels: core, infrastructure

#588 Secure Cell passphrase API: ThemisPP
  .clang-format
  CHANGELOG.md
  docs/examples/c++/secure_cell_file_encrypter.cpp
  src/wrappers/themis/themispp/impl/compat_begin.hpp
  src/wrappers/themis/themispp/impl/compat_end.hpp
  src/wrappers/themis/themispp/impl/input_buffer.hpp
  src/wrappers/themis/themispp/impl/secret_bytes.hpp
  src/wrappers/themis/themispp/input_buffer.hpp
  src/wrappers/themis/themispp/secure_cell.hpp
  src/wrappers/themis/themispp/secure_cell_context_imprint.hpp
  src/wrappers/themis/themispp/secure_cell_data.hpp
  src/wrappers/themis/themispp/secure_cell_seal.hpp
  src/wrappers/themis/themispp/secure_cell_token_protect.hpp
  src/wrappers/themis/themispp/themispp.mk
  tests/themispp/input_buffer_test.hpp
  tests/themispp/main.cpp
  tests/themispp/secret_bytes_test.hpp
  tests/themispp/secure_cell_test.hpp
Labels: W-ThemisPP :crossed_swords:

#595 Test GoThemis with Go 1.11~1.14 on CircleCI
  .circleci/config.yml
  gothemis/cell/cell_test.go
  gothemis/message/message_test.go
Labels: W-GoThemis :hamster:, compatibility, infrastructure
