Repository cossacklabs/themis, pull requests merged in 2020-08, with the labels that each got.

#685 Use "/usr/bin/env" in shebangs
  CHANGELOG.md
  Makefile
  configure
  docs/examples/Themis-server/python/smessage_client.py
  docs/examples/Themis-server/python/ssession_client.py
  scripts/phpthemis_postinstall.sh
  scripts/phpthemis_preuninstall.sh
  scripts/pp.sh
  src/wrappers/themis/rust/libthemis-sys/bindgen.sh
  tests/_integration/base.template
  tests/_integration/decrypt_folder.sh
  tests/_integration/encrypt_folder.sh
  tests/_integration/utils.sh
  tests/check_ios_test.sh
  tests/phpthemis/composer-setup.sh
  tests/phpthemis/init_env-php5.6.sh
  tests/phpthemis/init_env-php7.sh
  tests/phpthemis/run_tests.sh
  tests/rust/run_tests.sh
  tests/soter/nist-sts/makefile
  tests/start_ios_test.sh
  tests/test.mk
  tools/afl/analyze_crashes.sh
Labels: infrastructure

#689 Remove RustThemis wrapper changelog
  src/wrappers/themis/rust/CHANGELOG.md
  src/wrappers/themis/rust/README.md
Labels: W-RustThemis :crab:, docs :books:

#691 Drop libthemis-src support
  CHANGELOG.md
  Cargo.toml
  src/wrappers/themis/rust/Cargo.toml
  src/wrappers/themis/rust/libthemis-src/Cargo.toml
  src/wrappers/themis/rust/libthemis-src/LICENSE
  src/wrappers/themis/rust/libthemis-src/README.md
  src/wrappers/themis/rust/libthemis-src/src/lib.rs
  src/wrappers/themis/rust/libthemis-src/themis/LICENSE
  src/wrappers/themis/rust/libthemis-src/themis/Makefile
  src/wrappers/themis/rust/libthemis-src/themis/VERSION
  src/wrappers/themis/rust/libthemis-src/themis/configure
  src/wrappers/themis/rust/libthemis-src/themis/scripts
  src/wrappers/themis/rust/libthemis-src/themis/src/soter
  src/wrappers/themis/rust/libthemis-src/themis/src/themis
  src/wrappers/themis/rust/libthemis-sys/Cargo.toml
  src/wrappers/themis/rust/libthemis-sys/build.rs
  tests/rust/run_tests.sh
Labels: W-RustThemis :crab:, compatibility

#693 Runtime check for EC keys in Secure Session
  CHANGELOG.md
  src/themis/secure_session.c
  tests/themis/themis_secure_session.c
  tests/themis/themis_secure_session_test_keys.h
Labels: core, tests

#686 Use virtual package mechanism for BoringSSL package
  CHANGELOG.md
  Makefile
Labels: O-Linux :penguin:, core, infrastructure, installation

#695 Fix GoReport issues
  docs/examples/go/secure_cell.go
  gothemis/cell/context_imprint_test.go
  gothemis/cell/seal_pw_test.go
  gothemis/cell/seal_test.go
  gothemis/cell/token_protect_test.go
Labels: W-GoThemis :hamster:

#696 Fix GoReport issues
  docs/examples/go/secure_cell.go
Labels: W-GoThemis :hamster:

#692 Update to OpenSSL 1.1.1g
  .github/workflows/test-objc.yaml
  CHANGELOG.md
  Cartfile
  Cartfile.resolved
  ObjCThemis.xcodeproj/project.pbxproj
  Themis.xcodeproj/project.pbxproj
  src/wrappers/themis/Obj-C/exported.symbols
  themis.podspec
Labels: M-Carthage, M-CocoaPods, O-iOS :iphone:, O-macOS :computer:, W-ObjCThemis :art:, W-SwiftThemis :large_orange_diamond:, backport, dependencies

#699 GoThemis README
  CHANGELOG.md
  gothemis/README.md
Labels: W-GoThemis :hamster:, backport, docs :books:

#698 Fix NodeJS SecureSession handling nullptr
  src/wrappers/themis/jsthemis/secure_session.cpp
  src/wrappers/themis/jsthemis/secure_session.hpp
Labels: W-JsThemis :lollipop:

#697 Themis 0.13.1
  CHANGELOG.md
  gradle.properties
  src/wrappers/themis/jsthemis/package-lock.json
  src/wrappers/themis/jsthemis/package.json
  src/wrappers/themis/wasm/package-lock.json
  src/wrappers/themis/wasm/package.json
  themis.podspec
Labels: release

#700 Sync changelog with "release/0.13" branch
  CHANGELOG.md
Labels: docs :books:

#701 Update iOS and macOS examples to use Themis 0.13.1 and OpenSSL 1.1.1g
  CHANGELOG.md
  docs/examples/Themis-server/Obj-C/Podfile
  docs/examples/Themis-server/Obj-C/Podfile.lock
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServer.xcodeproj/project.pbxproj
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServer/Base.lproj/LaunchScreen.storyboard
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServer/Base.lproj/Main.storyboard
  docs/examples/Themis-server/swift/Podfile
  docs/examples/Themis-server/swift/Podfile.lock
  docs/examples/Themis-server/swift/SwiftThemisServerExample/SwiftThemisServerExample.xcodeproj/project.pbxproj
  docs/examples/Themis-server/swift/SwiftThemisServerExample/SwiftThemisServerExample/Base.lproj/LaunchScreen.storyboard
  docs/examples/objc/iOS-Carthage/Cartfile
  docs/examples/objc/iOS-Carthage/Cartfile.resolved
  docs/examples/objc/iOS-CocoaPods/Podfile
  docs/examples/objc/iOS-CocoaPods/Podfile.lock
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/macOS-Carthage/Cartfile
  docs/examples/objc/macOS-Carthage/Cartfile.resolved
  docs/examples/swift/iOS-Carthage/Cartfile
  docs/examples/swift/iOS-Carthage/Cartfile.resolved
  docs/examples/swift/iOS-CocoaPods/Podfile
  docs/examples/swift/iOS-CocoaPods/Podfile.lock
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift.xcodeproj/project.pbxproj
  docs/examples/swift/macOS-Carthage/Cartfile
  docs/examples/swift/macOS-Carthage/Cartfile.resolved
  docs/examples/swift/macOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
Labels: M-Carthage, M-CocoaPods, O-iOS :iphone:, O-macOS :computer:, docs :books:

#703 Carthage and CocoaPods import compatibility
  CHANGELOG.md
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServer/SMessageClient.m
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServer/SSessionClient.m
  docs/examples/objc/iOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/iOS-Carthage/ThemisTest/AppDelegate.m
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTest/Classes/AppDelegate.m
  docs/examples/objc/macOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/macOS-Carthage/ThemisTest/AppDelegate.m
  docs/examples/swift/iOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/swift/macOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
Labels: M-Carthage, W-ObjCThemis :art:, W-SwiftThemis :large_orange_diamond:, docs :books:

#704 Remove ObjCThemis.xcodeproj
  .github/workflows/test-objc.yaml
  CHANGELOG.md
  ObjCThemis.xcodeproj/project.pbxproj
  ObjCThemis.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ObjCThemis.xcodeproj/xcshareddata/xcschemes/ObjCThemis (macOS).xcscheme
  ObjCThemis.xcodeproj/xcshareddata/xcschemes/Test Themis (Swift 4, iOS).xcscheme
  Themis.xcodeproj/project.pbxproj
  Themis.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Themis.xcodeproj/xcshareddata/xcschemes/Test Themis (Swift 4, iOS).xcscheme
  Themis.xcodeproj/xcshareddata/xcschemes/Test Themis (Swift 4, macOS).xcscheme
  Themis.xcodeproj/xcshareddata/xcschemes/Test Themis (Swift 5, iOS).xcscheme
  Themis.xcodeproj/xcshareddata/xcschemes/Test Themis (Swift 5, macOS).xcscheme
  Themis.xcodeproj/xcshareddata/xcschemes/Themis (iOS).xcscheme
  Themis.xcodeproj/xcshareddata/xcschemes/Themis (macOS).xcscheme
  src/wrappers/themis/Obj-C/Themis/themis.h
  tests/objcthemis/objthemis/SecureCellTests.m
  tests/objcthemis/objthemis/SecureComparatorTests.m
  tests/objcthemis/objthemis/SecureMessageTests.m
  tests/objcthemis/objthemis/StaticKeys.h
  tests/objcthemis/objthemis/objthemis-Bridging-Header.h
Labels: M-Carthage, O-iOS :iphone:, O-macOS :computer:, W-ObjCThemis :art:, W-SwiftThemis :large_orange_diamond:, backport, compatibility, infrastructure

#705 Themis 0.13.2
  CHANGELOG.md
  Themis.xcodeproj/project.pbxproj
Labels: release

#707 Sync with "release/0.13" branch
  CHANGELOG.md
  Themis.xcodeproj/project.pbxproj
  gradle.properties
  src/wrappers/themis/jsthemis/package-lock.json
  src/wrappers/themis/jsthemis/package.json
  src/wrappers/themis/wasm/package-lock.json
  src/wrappers/themis/wasm/package.json
  themis.podspec
Labels: docs :books:

#706 Update Carthage examples to use Themis 0.13.2
  CHANGELOG.md
  docs/examples/objc/iOS-Carthage/Cartfile
  docs/examples/objc/iOS-Carthage/Cartfile.resolved
  docs/examples/objc/macOS-Carthage/Cartfile
  docs/examples/objc/macOS-Carthage/Cartfile.resolved
  docs/examples/swift/iOS-Carthage/Cartfile
  docs/examples/swift/iOS-Carthage/Cartfile.resolved
  docs/examples/swift/macOS-Carthage/Cartfile
  docs/examples/swift/macOS-Carthage/Cartfile.resolved
Labels: M-Carthage, O-iOS :iphone:, O-macOS :computer:

#708 Update codeowners
  CODEOWNERS
Labels: infrastructure

#709 Start phasing out CircleCI
  .circleci/config.yml
  CHANGELOG.md
  README.md
Labels: infrastructure

#702 Build embedded BoringSSL with symbol prefix
  CHANGELOG.md
  Makefile
  src/soter/boringssl/soter.mk
  src/soter/soter.mk
Labels: C-BoringSSL, O-Linux :penguin:, O-macOS :computer:, core, infrastructure

#710 Test (missing) RSA key support in Secure Session
  .gitignore
  CHANGELOG.md
  gothemis/session/session_test.go
  src/wrappers/themis/Obj-C/objcthemis/ssession.m
  src/wrappers/themis/jsthemis/test/test.js
  src/wrappers/themis/python/pythemis/scomparator.py
  src/wrappers/themis/python/pythemis/ssession.py
  src/wrappers/themis/ruby/lib/rbthemis.rb
  tests/pythemis/test_ssession.py
  tests/rbthemis/ssession_test.rb
  tests/themispp/secure_session_test.hpp
  tests/themispp/secure_session_test_keys.hpp
Labels: W-GoThemis :hamster:, W-JsThemis :lollipop:, W-PyThemis :snake:, W-RbThemis :diamonds:, W-ThemisPP :crossed_swords:, tests
