Repository cossacklabs/themis, pull requests merged in 2021-12, with the labels that each got.

#882 Improve OpenSSL 3.0 compatibility
  .github/workflows/test-core.yaml
  .github/workflows/test-nodejs.yaml
  CHANGELOG.md
  src/soter/openssl/soter_asym_ka.c
  src/soter/openssl/soter_ecdsa_common.c
  src/soter/openssl/soter_ecdsa_common.h
  src/soter/openssl/soter_engine.h
  src/soter/openssl/soter_rsa_common.c
  src/soter/openssl/soter_rsa_common.h
  src/soter/openssl/soter_sign_ecdsa.c
  src/soter/openssl/soter_sign_rsa.c
  src/soter/openssl/soter_verify_ecdsa.c
  src/soter/openssl/soter_verify_rsa.c
Labels: core, infrastructure, C-OpenSSL-3.0

#884 Nuke `themis/themis-{openssl,boringssl}` subspecs
  themis.podspec
Labels: O-iOS :iphone:, O-macOS :computer:, W-SwiftThemis :large_orange_diamond:, W-ObjCThemis :art:, M-CocoaPods

#885 Stop testing `objthemis_boring` scheme
  .github/workflows/test-objc.yaml
  CHANGELOG.md
  tests/objcthemis/Podfile
  tests/objcthemis/objcthemis.xcodeproj/project.pbxproj
  tests/objcthemis/objcthemis.xcodeproj/xcshareddata/xcschemes/objthemis_boring.xcscheme
  tests/objcthemis/objthemis/objthemis_boring-Info.plist
Labels: W-SwiftThemis :large_orange_diamond:, infrastructure, W-ObjCThemis :art:, M-CocoaPods

#889 update Themis iOS SPM package, update iOS/macOS examples for 0.14.0
  Package.swift
  docs/examples/objc/iOS-Carthage/Cartfile
  docs/examples/objc/iOS-Carthage/Cartfile.resolved
  docs/examples/objc/iOS-CocoaPods/Podfile
  docs/examples/objc/iOS-CocoaPods/Podfile.lock
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTest/Info.plist
  docs/examples/objc/iOS-SPM/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/iOS-SPM/ThemisTest.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  docs/examples/objc/iOS-SPM/ThemisTest/Assets.xcassets/AppIcon.appiconset/Contents.json
  docs/examples/objc/macOS-Carthage/Cartfile
  docs/examples/objc/macOS-Carthage/Cartfile.resolved
  docs/examples/objc/macOS-SPM/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/swift/iOS-Carthage/Cartfile
  docs/examples/swift/iOS-Carthage/Cartfile.resolved
  docs/examples/swift/iOS-CocoaPods/Podfile
  docs/examples/swift/iOS-CocoaPods/Podfile.lock
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift.xcodeproj/project.pbxproj
  docs/examples/swift/iOS-SPM/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/swift/iOS-SPM/ThemisTest.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  docs/examples/swift/macOS-Carthage/Cartfile
  docs/examples/swift/macOS-Carthage/Cartfile.resolved
  docs/examples/swift/macOS-SPM/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/swift/macOS-SPM/ThemisTest.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: O-iOS :iphone:, O-macOS :computer:, M-CocoaPods, M-Carthage, M-SPM, examples

#890 update java example to use 0.14.0
  docs/examples/android/app/build.gradle
  docs/examples/java/app/build.gradle
  docs/examples/java/gradle/wrapper/gradle-wrapper.properties
Labels: W-JavaThemis :coffee:, examples

#893 Update GoThemis and WasmThemis examples to 0.14.0
  README.md
  docs/examples/go/go.mod
  docs/examples/wasm/webpack/.gitignore
  docs/examples/wasm/webpack/package-lock.json
  docs/examples/wasm/webpack/package.json
  docs/examples/wasm/webpack/webpack.config.js
  tools/go/go.mod
Labels: W-GoThemis :hamster:, W-WasmThemis :globe_with_meridians:, examples
