Repository cossacklabs/themis, pull requests merged in 2022-11, with the labels that each got.

#960 Update CODEOWNERS
  CODEOWNERS
Labels: infrastructure

#962 Redesigned the framework to make it less vulnerable exceptions
  src/wrappers/themis/react-native-themis/android/src/main/java/com/reactnativethemis/ThemisModule.java
  src/wrappers/themis/react-native-themis/android/src/main/main.iml
  src/wrappers/themis/react-native-themis/ios/RCTThemis.h
  src/wrappers/themis/react-native-themis/ios/RCTThemis.m
  src/wrappers/themis/react-native-themis/package.json
  src/wrappers/themis/react-native-themis/src/index.d.ts
  src/wrappers/themis/react-native-themis/src/index.js
  src/wrappers/themis/react-native-themis/src/index.tsx
Labels: O-ReactNative ⚛️, W-RNThemis ⚛️

#958 CI: Use new `bindgen` binary crate name
  .github/workflows/test-rust.yaml
  src/wrappers/themis/rust/libthemis-sys/src/lib.rs
Labels: infrastructure, W-RustThemis :crab:

#957 Fix typos
  README.md
  docs/examples/react-native/react-native-example/App.js
  gothemis/keys/keypair.go
  include/soter/soter_asym_cipher.h
  include/soter/soter_asym_ka.h
  include/soter/soter_asym_sign.h
  include/soter/soter_hash.h
  include/soter/soter_hmac.h
  include/soter/soter_kdf.h
  include/soter/soter_sym.h
  include/themis/secure_cell.h
  include/themis/secure_message.h
  include/themis/secure_session.h
  jni/themis_session.c
  src/soter/boringssl/soter_asym_cipher.c
  src/soter/ed25519/fe_mul.c
  src/soter/openssl/soter_asym_cipher.c
  src/soter/openssl/soter_asym_ka.c
  src/soter/soter_crc32.c
  src/soter/soter_ec_key.h
  src/soter/soter_rsa_key.h
  src/themis/secure_cell_seal_passphrase.h
  src/themis/secure_comparator.c
  src/themis/secure_message_wrapper.c
  src/themis/sym_enc_message.h
  src/wrappers/themis/Obj-C/objcthemis/serror.h
  src/wrappers/themis/Obj-C/objcthemis/ssession_transport_interface.h
  src/wrappers/themis/java/com/cossacklabs/themis/Keypair.java
  src/wrappers/themis/java/com/cossacklabs/themis/KeypairGenerator.java
  src/wrappers/themis/java/com/cossacklabs/themis/SecureSession.java
  src/wrappers/themis/php/php_themis.c
  src/wrappers/themis/php7/php_cell.c
  src/wrappers/themis/php7/php_session.c
  src/wrappers/themis/python/pythemis/ssession.py
  src/wrappers/themis/themispp/input_buffer.hpp
  src/wrappers/themis/themispp/secure_cell_context_imprint.hpp
  src/wrappers/themis/themispp/secure_cell_seal.hpp
  src/wrappers/themis/themispp/secure_cell_token_protect.hpp
  src/wrappers/themis/wasm/src/index.ts
  src/wrappers/themis/wasm/src/secure_comparator.ts
  src/wrappers/themis/wasm/src/secure_session.ts
  src/wrappers/themis/wasm/test/test.js
Labels: enhancement, docs :books:, core

#965 pythemis: Extra effort to locate Themis Core library
  CHANGELOG.md
  src/wrappers/themis/python/PKG-INFO
  src/wrappers/themis/python/pythemis/__init__.py
  src/wrappers/themis/python/pythemis/scell.py
  src/wrappers/themis/python/pythemis/scomparator.py
  src/wrappers/themis/python/pythemis/skeygen.py
  src/wrappers/themis/python/pythemis/smessage.py
  src/wrappers/themis/python/pythemis/ssession.py
  src/wrappers/themis/python/setup.py
Labels: W-PyThemis :snake:, backport

#967 update CHANGELOG.md
  CHANGELOG.md
Labels: docs :books:

#970 CI: Pin "ubuntu-20.04" et al.
  .github/workflows/code-style.yaml
  .github/workflows/integration.yaml
  .github/workflows/test-core.yaml
  .github/workflows/test-cpp.yaml
  .github/workflows/test-go.yaml
  .github/workflows/test-java.yaml
  .github/workflows/test-nodejs.yaml
  .github/workflows/test-objc.yaml
  .github/workflows/test-php.yaml
  .github/workflows/test-python.yaml
  .github/workflows/test-ruby.yaml
  .github/workflows/test-rust.yaml
  .github/workflows/test-wasm.yaml
Labels: core, O-macOS :computer:, infrastructure, O-Windows :desktop_computer:, C-OpenSSL-3.0

#971 rust: Suppress "clippy::needless_borrow"
  .github/workflows/test-rust.yaml
  docs/examples/rust/secure_cell.rs
  docs/examples/rust/secure_message_client_encrypt.rs
  docs/examples/rust/secure_message_client_verify.rs
  docs/examples/rust/secure_message_server.rs
  docs/examples/rust/secure_session_echo_client.rs
  docs/examples/rust/secure_session_echo_server.rs
  src/wrappers/themis/rust/libthemis-sys/bindgen.sh
  src/wrappers/themis/rust/src/lib.rs
  tests/rust/keys.rs
  tests/rust/secure_cell.rs
  tests/rust/secure_message.rs
  tests/rust/secure_session.rs
  tools/rust/scell_context_string_echo.rs
  tools/rust/scell_seal_string_echo.rs
  tools/rust/scell_seal_string_echo_pw.rs
  tools/rust/scell_token_string_echo.rs
  tools/rust/smessage_encryption.rs
Labels: infrastructure, W-RustThemis :crab:
