Repository cossacklabs/themis, pull requests merged in 2022-08, with the labels that each got.

#932 wasm: Upgrade ts-mocha 8 => 9
  src/wrappers/themis/wasm/package-lock.json
  src/wrappers/themis/wasm/package.json
Labels: infrastructure, W-WasmThemis :globe_with_meridians:

#929 Add ALLOW_MEMORY_GROWTH=1
  src/wrappers/themis/wasm/wasmthemis.mk
Labels: bug, W-WasmThemis :globe_with_meridians:

#933 Add ALLOW_MEMORY_GROWTH=1
  src/wrappers/themis/wasm/wasmthemis.mk
Labels: W-WasmThemis :globe_with_meridians:

#934 Upgrade deps to make audit happy.
  src/wrappers/themis/react-native-themis/package.json
Labels: O-ReactNative ⚛️

#931 RNThemis hot fix: parameter checks to generate exceptions in case of empty values
  src/wrappers/themis/react-native-themis/src/index.js
  src/wrappers/themis/react-native-themis/src/index.tsx
Labels: O-ReactNative ⚛️

#935 release 0.14.7
  CHANGELOG.md
  src/wrappers/themis/react-native-themis/package.json
  src/wrappers/themis/wasm/package.json
Labels: docs :books:, release, O-ReactNative ⚛️

#938 hotfix wasm themis: rebuild wasm-themis with -O3 flag
  CHANGELOG.md
  src/wrappers/themis/wasm/package-lock.json
  src/wrappers/themis/wasm/package.json
  src/wrappers/themis/wasm/wasmthemis.mk
Labels: release, W-WasmThemis :globe_with_meridians:

#939 handy pick key changes from release/0.14 into master
  CHANGELOG.md
  src/wrappers/themis/wasm/package.json
  src/wrappers/themis/wasm/wasmthemis.mk
Labels: W-WasmThemis :globe_with_meridians:
