Repository cossacklabs/themis, pull requests merged in 2022-09, with the labels that each got.

#942 android: Update Gradle, Android plugin, build tools, NDK
  .github/workflows/test-java.yaml
  CHANGELOG.md
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  jni/Android.mk
  jni/Application.mk
  jni/CMakeLists.txt
  settings.gradle
  src/wrappers/themis/android/build.gradle
  third_party/boringssl/AndroidManifest.xml
  third_party/boringssl/build.gradle
Labels: O-Android :robot:, infrastructure

#945 rm outdated image in docs
  docs/README.md
Labels: docs :books:

#944 hotfix: told zip to store symlinks as required by Apple guide
  Package.swift
  scripts/create_xcframeworks.sh
Labels: O-iOS :iphone:, release, O-macOS :computer:

#946 update Changelog.md and Package.swift to release 0.14.9
  CHANGELOG.md
  Package.swift
Labels: release, O-macOS :computer:

#947 Obj-C and Swift example updates
  docs/examples/objc/iOS-CocoaPods/Podfile
  docs/examples/objc/iOS-CocoaPods/Podfile.lock
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/iOS-SPM/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/iOS-SPM/ThemisTest.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  docs/examples/objc/macOS-SPM/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/macOS-SPM/ThemisTest.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  docs/examples/swift/iOS-CocoaPods/Podfile
  docs/examples/swift/iOS-CocoaPods/Podfile.lock
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift.xcodeproj/project.pbxproj
  docs/examples/swift/iOS-SPM/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/swift/iOS-SPM/ThemisTest.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  docs/examples/swift/macOS-SPM/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/swift/macOS-SPM/ThemisTest.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: examples

#952 rust: Placate the stationery
  src/wrappers/themis/rust/src/error.rs
Labels: W-RustThemis :crab:
