Repository cossacklabs/themis, pull requests merged in 2022-10, with the labels that each got.

#954 soter: Support uncompressed EC keys
  CHANGELOG.md
  src/soter/soter_ec_key.c
  src/soter/soter_ec_key.h
  tests/themis/themis_seccure_message.c
Labels: core

#950 Obj-C and Swift example updates
  docs/examples/objc/iOS-CocoaPods/Podfile.lock
  docs/examples/objc/iOS-SPM/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/iOS-SPM/ThemisTest.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  docs/examples/objc/macOS-SPM/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/macOS-SPM/ThemisTest.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  docs/examples/swift/iOS-CocoaPods/Podfile.lock
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift.xcodeproj/project.pbxproj
  docs/examples/swift/iOS-SPM/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/swift/iOS-SPM/ThemisTest.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  docs/examples/swift/macOS-SPM/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/swift/macOS-SPM/ThemisTest.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: O-iOS :iphone:, O-macOS :computer:, W-SwiftThemis :large_orange_diamond:, W-ObjCThemis :art:, M-CocoaPods, M-SPM, examples

#955 Redesigned the framework to make it less vulnerable to native exceptions.
  src/wrappers/themis/react-native-themis/android/src/main/java/com/reactnativethemis/ThemisModule.java
  src/wrappers/themis/react-native-themis/android/src/main/main.iml
  src/wrappers/themis/react-native-themis/ios/RCTThemis.h
  src/wrappers/themis/react-native-themis/ios/RCTThemis.m
  src/wrappers/themis/react-native-themis/package.json
  src/wrappers/themis/react-native-themis/src/index.d.ts
  src/wrappers/themis/react-native-themis/src/index.js
  src/wrappers/themis/react-native-themis/src/index.tsx
Labels: O-ReactNative ⚛️
