Repository cossacklabs/themis, pull requests merged in 2022-04, with the labels that each got.

#909 Improve wasm-themis to be more compatible with TypeScript
  src/wrappers/themis/wasm/package-lock.json
  src/wrappers/themis/wasm/package.json
  src/wrappers/themis/wasm/src/secure_cell_seal.ts
  src/wrappers/themis/wasm/test/test.js
Labels: W-WasmThemis :globe_with_meridians:

#910 update changelog
  CHANGELOG.md
Labels: release, W-WasmThemis :globe_with_meridians:

#914 pythemis: Populate `__all__` with all public modules
  CHANGELOG.md
  src/wrappers/themis/python/pythemis/__init__.py
Labels: W-PyThemis :snake:

#915 pythemis: Extra effort to locate Themis Core library
  CHANGELOG.md
  src/wrappers/themis/python/pythemis/__init__.py
  src/wrappers/themis/python/pythemis/scell.py
  src/wrappers/themis/python/pythemis/scomparator.py
  src/wrappers/themis/python/pythemis/skeygen.py
  src/wrappers/themis/python/pythemis/smessage.py
  src/wrappers/themis/python/pythemis/ssession.py
Labels: W-PyThemis :snake:, O-macOS :computer:, O-Linux :penguin:, M1

#917 rbthemis: Extra effort to locate Themis Core library
  CHANGELOG.md
  src/wrappers/themis/ruby/lib/rbthemis.rb
Labels: W-RbThemis :diamonds:, O-macOS :computer:, O-Linux :penguin:, M1
