Repository cossacklabs/themis, pull requests merged in 2023-11, with the labels that each got.

#1037 Fix macOS npm install procedure of JsThemis
  src/wrappers/themis/jsthemis/binding.gyp
Labels: installation, W-JsThemis :lollipop:

#1039 Fix clippy and fmt issues
  .github/workflows/test-rust.yaml
  CHANGELOG.md
  benches/themis/benches/secure_message_encrypt_decrypt_ecdsa.rs
  benches/themis/benches/secure_message_encrypt_decrypt_rsa.rs
  benches/themis/benches/secure_message_sign_verify_ecdsa.rs
  benches/themis/benches/secure_message_sign_verify_rsa.rs
  docs/examples/rust/secure_cell.rs
  docs/examples/rust/secure_message_client_encrypt.rs
  docs/examples/rust/secure_message_client_verify.rs
  docs/examples/rust/secure_message_server.rs
  docs/examples/rust/secure_session_echo_client.rs
  docs/examples/rust/secure_session_echo_server.rs
  src/wrappers/themis/rust/Cargo.toml
  src/wrappers/themis/rust/libthemis-sys/Cargo.toml
  src/wrappers/themis/rust/src/secure_cell.rs
  tests/rust/keys.rs
  tests/rust/secure_cell.rs
  tests/rust/secure_message.rs
  tests/rust/secure_session.rs
  tools/rust/scell_context_string_echo.rs
  tools/rust/scell_seal_string_echo.rs
  tools/rust/scell_seal_string_echo_pw.rs
  tools/rust/scell_token_string_echo.rs
  tools/rust/smessage_encryption.rs
Labels: W-RustThemis :crab:

#1038 'import' syntax compatible and TypeScript declaration file
  .github/workflows/test-nodejs.yaml
  CHANGELOG.md
  docs/examples/js/import_module.mjs
  docs/examples/ts/README.md
  docs/examples/ts/package.json
  docs/examples/ts/secure_cell.ts
  docs/examples/ts/secure_comparator_client.ts
  docs/examples/ts/secure_comparator_server.ts
  docs/examples/ts/secure_keygen.ts
  docs/examples/ts/secure_message.ts
  docs/examples/ts/secure_session_client.ts
  docs/examples/ts/secure_session_server.ts
  src/wrappers/themis/jsthemis/index.d.ts
  src/wrappers/themis/jsthemis/index.js
  src/wrappers/themis/jsthemis/package.json
Labels: W-JsThemis :lollipop:

#1023 New methods of building/installing PyThemis
  .github/workflows/test-python.yaml
  CHANGELOG.md
  Makefile
Labels: W-PyThemis :snake:
