Repository cossacklabs/themis, changes with the owners that CODEOWNERS names for each.
All owners: @vixentael, @ilammy, @Lagovas, @storojs72, @ignatk, @shadinua, @iamnotacake

CODEOWNERS:

# Default reviewer set
*                   @vixentael @ilammy
/src/soter/         @vixentael @Lagovas @ilammy @storojs72 @ignatk
/src/themis/        @vixentael @Lagovas @ilammy @storojs72 @ignatk

# Build system
Makefile            @vixentael @ilammy @shadinua
*.mk                @vixentael @ilammy @shadinua
*.sh                @vixentael @ilammy @shadinua

# rust-themis
Cargo.toml          @vixentael @ilammy @iamnotacake
*.rs                @vixentael @ilammy @iamnotacake

Themis 0.13.6
  CHANGELOG.md
  Themis.xcodeproj/project.pbxproj
  themis.podspec
Owners: @vixentael, @ilammy

Properly pin Carthage dependencies
  Cartfile
Owners: @vixentael, @ilammy

Themis 0.13.6 (#752)
  CHANGELOG.md
  Cartfile
  Themis.xcodeproj/project.pbxproj
  themis.podspec
Owners: @vixentael, @ilammy

Measure test coverage with GitHub Actions
  .github/workflows/test-core.yaml
Owners: @vixentael, @ilammy

Disable CircleCI on master branch
  .circleci/config.yml
  CHANGELOG.md
Owners: @vixentael, @ilammy

Add `tests` directory for `soter_test` target
  CMakeLists.txt
Owners: @vixentael, @ilammy

Replace the obsolete OpenSSL functions EVP_{De,En}cryptFinal
  src/soter/openssl/soter_sym.c
Owners: @vixentael, @Lagovas, @ilammy, @storojs72, @ignatk

Add `tests` directory for `soter_test` target (#756)
  CMakeLists.txt
Owners: @vixentael, @ilammy

Measure test coverage with GitHub Actions (#755)
  .circleci/config.yml
  .github/workflows/test-core.yaml
  CHANGELOG.md
Owners: @vixentael, @ilammy

Use new trait order in generated code
  src/wrappers/themis/rust/libthemis-sys/src/lib.rs
Owners: @vixentael, @ilammy, @iamnotacake

Move public Themis headers to "include" directory
  Themis.xcodeproj/project.pbxproj
  include/soter/soter.h
  include/soter/soter_api.h
  include/soter/soter_asym_cipher.h
  include/soter/soter_asym_ka.h
  include/soter/soter_asym_sign.h
  include/soter/soter_error.h
  include/soter/soter_hash.h
  include/soter/soter_hmac.h
  include/soter/soter_kdf.h
  include/soter/soter_rand.h
  include/soter/soter_rsa_key_pair_gen.h
  include/soter/soter_sym.h
  include/soter/soter_wipe.h
  include/themis/secure_cell.h
  include/themis/secure_comparator.h
  include/themis/secure_keygen.h
  include/themis/secure_message.h
  include/themis/secure_session.h
  include/themis/themis.h
  include/themis/themis_api.h
  include/themis/themis_error.h
Owners: @vixentael, @ilammy

Add "include" directory to header search paths
  Makefile
  Themis.xcodeproj/project.pbxproj
  jni/Android.mk
Owners: @vixentael, @ilammy, @shadinua

Update CocoaPods spec with header changes
  themis.podspec
Owners: @vixentael, @ilammy

Install only public headers
  src/soter/soter.mk
  src/themis/themis.mk
Owners: @vixentael, @ilammy, @shadinua

Avoid using private headers in public API
  include/soter/soter_rsa_key_pair_gen.h
  src/soter/openssl/soter_rsa_key_pair_gen.c
  tests/soter/soter_test.h
Owners: @vixentael, @ilammy, @Lagovas, @storojs72, @ignatk

Move Secure Session details to private headers
  include/themis/secure_session.h
  src/themis/secure_session_peer.h
  src/themis/secure_session_t.h
  src/themis/secure_session_utils.h
Owners: @vixentael, @ilammy, @Lagovas, @storojs72, @ignatk

Update "libthemis-sys" definitions
  src/wrappers/themis/rust/libthemis-sys/bindgen.sh
  src/wrappers/themis/rust/libthemis-sys/src/lib.rs
Owners: @vixentael, @ilammy, @shadinua, @iamnotacake

Detailed eviction notice in CHANGELOG
  CHANGELOG.md
Owners: @vixentael, @ilammy

Tweak CHANGELOG entry formatting
  CHANGELOG.md
Owners: @vixentael, @ilammy

Use new trait order in generated code (#758)
  src/wrappers/themis/rust/libthemis-sys/src/lib.rs
Owners: @vixentael, @ilammy, @iamnotacake

Update Emscripten to 2.0.9 upstream
  .github/workflows/integration.yaml
  .github/workflows/test-wasm.yaml
  CHANGELOG.md
Owners: @vixentael, @ilammy

Disable stack protector for Emscript builds
  Makefile
Owners: @vixentael, @ilammy, @shadinua

Stop using deprecated RESERVED_FUNCTION_POINTERS
  src/wrappers/themis/wasm/wasmthemis.mk
Owners: @vixentael, @ilammy, @shadinua

Use new allocate() API of Emscripten
  src/wrappers/themis/wasm/src/secure_cell_context_imprint.js
  src/wrappers/themis/wasm/src/secure_cell_seal.js
  src/wrappers/themis/wasm/src/secure_cell_token_protect.js
  src/wrappers/themis/wasm/src/secure_comparator.js
  src/wrappers/themis/wasm/src/secure_keygen.js
  src/wrappers/themis/wasm/src/secure_message.js
  src/wrappers/themis/wasm/src/secure_session.js
Owners: @vixentael, @ilammy

Work around issues with dead code elimination
  src/wrappers/themis/wasm/wasmthemis.mk
Owners: @vixentael, @ilammy, @shadinua

Move public Themis headers to "include" directory (#759)
  CHANGELOG.md
  Makefile
  Themis.xcodeproj/project.pbxproj
  include/soter/soter.h
  include/soter/soter_api.h
  include/soter/soter_asym_cipher.h
  include/soter/soter_asym_ka.h
  include/soter/soter_asym_sign.h
  include/soter/soter_error.h
  include/soter/soter_hash.h
  include/soter/soter_hmac.h
  include/soter/soter_kdf.h
  include/soter/soter_rand.h
  include/soter/soter_rsa_key_pair_gen.h
  include/soter/soter_sym.h
  include/soter/soter_wipe.h
  include/themis/secure_cell.h
  include/themis/secure_comparator.h
  include/themis/secure_keygen.h
  include/themis/secure_message.h
  include/themis/secure_session.h
  include/themis/themis.h
  include/themis/themis_api.h
  include/themis/themis_error.h
  jni/Android.mk
  src/soter/openssl/soter_rsa_key_pair_gen.c
  src/soter/soter.mk
  src/themis/secure_session_peer.h
  src/themis/secure_session_t.h
  src/themis/secure_session_utils.h
  src/themis/themis.mk
  src/wrappers/themis/rust/libthemis-sys/bindgen.sh
  src/wrappers/themis/rust/libthemis-sys/src/lib.rs
  tests/soter/soter_test.h
  themis.podspec
Owners: @vixentael, @ilammy, @shadinua, @Lagovas, @storojs72, @ignatk, @iamnotacake

Replace the obsolete OpenSSL functions EVP_{De,En}cryptFinal (#757)
  src/soter/openssl/soter_sym.c
Owners: @vixentael, @Lagovas, @ilammy, @storojs72, @ignatk

Update Emscripten to 2.0.9 upstream (#760)
  .github/workflows/integration.yaml
  .github/workflows/test-wasm.yaml
  CHANGELOG.md
  Makefile
  src/wrappers/themis/wasm/src/secure_cell_context_imprint.js
  src/wrappers/themis/wasm/src/secure_cell_seal.js
  src/wrappers/themis/wasm/src/secure_cell_token_protect.js
  src/wrappers/themis/wasm/src/secure_comparator.js
  src/wrappers/themis/wasm/src/secure_keygen.js
  src/wrappers/themis/wasm/src/secure_message.js
  src/wrappers/themis/wasm/src/secure_session.js
  src/wrappers/themis/wasm/wasmthemis.mk
Owners: @vixentael, @ilammy, @shadinua

Update code style checking job to Ubuntu 20.04
  .github/workflows/code-style.yaml
Owners: @vixentael, @ilammy

Update code style checking job to Ubuntu 20.04 (#761)
  .github/workflows/code-style.yaml
Owners: @vixentael, @ilammy

Remove THEMIS_SECURE_MESSAGE_LENGTH macro
  src/themis/secure_message_wrapper.h
Owners: @vixentael, @Lagovas, @ilammy, @storojs72, @ignatk

Check Secure Message size before reading
  src/themis/secure_message.c
Owners: @vixentael, @Lagovas, @ilammy, @storojs72, @ignatk

Remove misleading length checks in decrypt/verify
  src/themis/secure_message.c
Owners: @vixentael, @Lagovas, @ilammy, @storojs72, @ignatk

Avoid integer overflow in the length check
  src/themis/secure_message_wrapper.c
Owners: @vixentael, @Lagovas, @ilammy, @storojs72, @ignatk

Check for more overflows in decryption code path
  src/themis/secure_message_wrapper.c
Owners: @vixentael, @Lagovas, @ilammy, @storojs72, @ignatk

Rewrite the length check for readability
  src/themis/secure_message_wrapper.c
Owners: @vixentael, @Lagovas, @ilammy, @storojs72, @ignatk

Fix another bug in signed message length check
  src/themis/secure_message_wrapper.c
Owners: @vixentael, @Lagovas, @ilammy, @storojs72, @ignatk

Check Secure Message size before reading for real
  src/themis/secure_message_wrapper.c
Owners: @vixentael, @Lagovas, @ilammy, @storojs72, @ignatk

Explain a historical detail in the length check
  src/themis/secure_message_wrapper.c
Owners: @vixentael, @Lagovas, @ilammy, @storojs72, @ignatk

Fix a logic bug in signed message length check
  src/themis/secure_message_wrapper.c
Owners: @vixentael, @Lagovas, @ilammy, @storojs72, @ignatk
