Repository cossacklabs/themis, changes with the owners that CODEOWNERS names for each.
All owners: @vixentael, @ilammy, @Lagovas, @storojs72, @ignatk, @shadinua, @iamnotacake

CODEOWNERS:

# Default reviewer set
*                   @vixentael @ilammy
/src/soter/         @vixentael @Lagovas @ilammy @storojs72 @ignatk
/src/themis/        @vixentael @Lagovas @ilammy @storojs72 @ignatk

# Build system
Makefile            @vixentael @ilammy @shadinua
*.mk                @vixentael @ilammy @shadinua
*.sh                @vixentael @ilammy @shadinua

# rust-themis
Cargo.toml          @vixentael @ilammy @iamnotacake
*.rs                @vixentael @ilammy @iamnotacake

Use HTTPS in license URL
  src/wrappers/themis/android/build.gradle
Owners: @vixentael, @ilammy

Publish JavaThemis for Android to Maven Central (#786)
  CHANGELOG.md
  gradle.properties
  src/wrappers/themis/android/build.gradle
Owners: @vixentael, @ilammy

Fix flaky Secure Comparator test
  tests/themis/themis_secure_comparator.c
Owners: @vixentael, @ilammy

Fix flaky Secure Comparator test (#787)
  tests/themis/themis_secure_comparator.c
Owners: @vixentael, @ilammy

Maven publishing for desktop JavaThemis
  src/wrappers/themis/java/build.gradle
Owners: @vixentael, @ilammy

Set up publishing to Sonatype staging repos
  src/wrappers/themis/java/build.gradle
Owners: @vixentael, @ilammy

Remove unnecessary plugins for Bintray publishing
  src/wrappers/themis/android/build.gradle
Owners: @vixentael, @ilammy

Include desktop systems into the changelog
  CHANGELOG.md
Owners: @vixentael, @ilammy

add SPM support with XCF
  Package.swift
  Themis.xcodeproj/project.pbxproj
  create_xcframeworks.sh
Owners: @vixentael, @ilammy, @shadinua

Insistent terminology for both Android and desktop Java
  CHANGELOG.md
Owners: @vixentael, @ilammy

Maven publishing for desktop JavaThemis (#788)
  CHANGELOG.md
  src/wrappers/themis/android/build.gradle
  src/wrappers/themis/java/build.gradle
Owners: @vixentael, @ilammy

Use "ubuntu-20.04" for AFL fuzzing job
  .github/workflows/test-core.yaml
Owners: @vixentael, @ilammy

Use "ubuntu-20.04" for AFL fuzzing job (#790)
  .github/workflows/test-core.yaml
Owners: @vixentael, @ilammy

Test MSYS2 build and packaging
  .github/workflows/test-core.yaml
  CHANGELOG.md
Owners: @vixentael, @ilammy

Update checksums in MSYS2 package
  PKGBUILD.MSYS2
Owners: @vixentael, @ilammy

Test MSYS2 build and packaging (#791)
  .github/workflows/test-core.yaml
  CHANGELOG.md
  PKGBUILD.MSYS2
Owners: @vixentael, @ilammy

Fix warnings from Clippy
  tests/rust/secure_session.rs
Owners: @vixentael, @ilammy, @iamnotacake

Modularize wasm themis
  src/wrappers/themis/wasm/emscripten/exports.json
  src/wrappers/themis/wasm/wasmthemis.mk
Owners: @vixentael, @ilammy, @shadinua

Change extensions
  src/wrappers/themis/wasm/src/index.ts
  src/wrappers/themis/wasm/src/secure_cell.ts
  src/wrappers/themis/wasm/src/secure_cell_context_imprint.ts
  src/wrappers/themis/wasm/src/secure_cell_seal.ts
  src/wrappers/themis/wasm/src/secure_cell_token_protect.ts
  src/wrappers/themis/wasm/src/secure_comparator.ts
  src/wrappers/themis/wasm/src/secure_keygen.ts
  src/wrappers/themis/wasm/src/secure_message.ts
  src/wrappers/themis/wasm/src/secure_session.ts
  src/wrappers/themis/wasm/src/themis_error.ts
  src/wrappers/themis/wasm/src/utils.ts
Owners: @vixentael, @ilammy

Translate plain js to typescript
  src/wrappers/themis/wasm/src/context.ts
  src/wrappers/themis/wasm/src/index.ts
  src/wrappers/themis/wasm/src/secure_cell.ts
  src/wrappers/themis/wasm/src/secure_cell_context_imprint.ts
  src/wrappers/themis/wasm/src/secure_cell_seal.ts
  src/wrappers/themis/wasm/src/secure_cell_token_protect.ts
  src/wrappers/themis/wasm/src/secure_comparator.ts
  src/wrappers/themis/wasm/src/secure_keygen.ts
  src/wrappers/themis/wasm/src/secure_message.ts
  src/wrappers/themis/wasm/src/secure_session.ts
  src/wrappers/themis/wasm/src/themis_error.ts
  src/wrappers/themis/wasm/src/utils.ts
Owners: @vixentael, @ilammy

Add typescript and esbuild dependencies
  src/wrappers/themis/wasm/package-lock.json
  src/wrappers/themis/wasm/package.json
Owners: @vixentael, @ilammy

Add tsconfig and script to build library
  src/wrappers/themis/wasm/.gitignore
  src/wrappers/themis/wasm/package-lock.json
  src/wrappers/themis/wasm/package.json
  src/wrappers/themis/wasm/src/.gitignore
  src/wrappers/themis/wasm/tsconfig.json
Owners: @vixentael, @ilammy

Fix tests by making undefined a valid value
  src/wrappers/themis/wasm/test/test.js
Owners: @vixentael, @ilammy

Add ts-mocha package
  src/wrappers/themis/wasm/package-lock.json
  src/wrappers/themis/wasm/package.json
Owners: @vixentael, @ilammy

Make wasmPath optional for node environment
  src/wrappers/themis/wasm/src/index.ts
Owners: @vixentael, @ilammy

Fix gitignore
  src/wrappers/themis/wasm/src/.gitignore
Owners: @vixentael, @ilammy

Move declaration into sepratate file
  src/wrappers/themis/wasm/src/context.ts
  src/wrappers/themis/wasm/src/index.ts
  src/wrappers/themis/wasm/src/libthemis.d.ts
Owners: @vixentael, @ilammy

Remove esbuild and setup library creation
  src/wrappers/themis/wasm/.gitignore
  src/wrappers/themis/wasm/package.json
  src/wrappers/themis/wasm/tsconfig.json
Owners: @vixentael, @ilammy

Run npm install
  src/wrappers/themis/wasm/wasmthemis.mk
Owners: @vixentael, @ilammy, @shadinua

Update lock file
  src/wrappers/themis/wasm/package-lock.json
Owners: @vixentael, @ilammy

Switch target to es6, else tests fail
  src/wrappers/themis/wasm/package.json
  src/wrappers/themis/wasm/tsconfig.json
Owners: @vixentael, @ilammy

Fix compile commands
  src/wrappers/themis/wasm/package.json
Owners: @vixentael, @ilammy

Update node code in tools/
  tools/js/wasm-themis/keygen.js
  tools/js/wasm-themis/scell_context_string_echo.js
  tools/js/wasm-themis/scell_seal_string_echo.js
  tools/js/wasm-themis/scell_seal_string_echo_pw.js
  tools/js/wasm-themis/scell_token_string_echo.js
  tools/js/wasm-themis/smessage_encryption.js
Owners: @vixentael, @ilammy

Set target for tests to es5
  src/wrappers/themis/wasm/tsconfig.json
Owners: @vixentael, @ilammy

Remove extends; this is not allowed with ES5
  src/wrappers/themis/wasm/src/secure_keygen.ts
  src/wrappers/themis/wasm/src/secure_message.ts
  src/wrappers/themis/wasm/src/secure_session.ts
  src/wrappers/themis/wasm/src/utils.ts
Owners: @vixentael, @ilammy

Fix tests for adapted api and es5
  src/wrappers/themis/wasm/test/test.js
Owners: @vixentael, @ilammy

Fix warnings from Clippy (#793)
  tests/rust/secure_session.rs
Owners: @vixentael, @ilammy, @iamnotacake

Fix warnings from Clippy
  tests/rust/secure_session.rs
Owners: @vixentael, @ilammy, @iamnotacake

Fix warnings from Clippy (#793 => #794)
  tests/rust/secure_session.rs
Owners: @vixentael, @ilammy, @iamnotacake

Readd test
  src/wrappers/themis/wasm/test/test.js
Owners: @vixentael, @ilammy
