Repository cossacklabs/themis, changes with the owners that CODEOWNERS names for each.
All owners: @vixentael, @ilammy, @Lagovas, @storojs72, @ignatk, @shadinua, @iamnotacake

CODEOWNERS:

# Default reviewer set
*                   @vixentael @ilammy
/src/soter/         @vixentael @Lagovas @ilammy @storojs72 @ignatk
/src/themis/        @vixentael @Lagovas @ilammy @storojs72 @ignatk

# Build system
Makefile            @vixentael @ilammy @shadinua
*.mk                @vixentael @ilammy @shadinua
*.sh                @vixentael @ilammy @shadinua

# rust-themis
Cargo.toml          @vixentael @ilammy @iamnotacake
*.rs                @vixentael @ilammy @iamnotacake

Fuzzing Secure Message
  CHANGELOG.md
  tools/afl/generate/smessage_encrypt_decrypt.go
  tools/afl/generate/smessage_sign_verify.go
  tools/afl/input/smessage_encrypt_decrypt/ok_short_message_ec.dat
  tools/afl/input/smessage_encrypt_decrypt/ok_short_message_rsa.dat
  tools/afl/input/smessage_encrypt_roundtrip/ok_short_message_ec.dat
  tools/afl/input/smessage_encrypt_roundtrip/ok_short_message_rsa.dat
  tools/afl/input/smessage_sign_roundtrip/ok_short_message_ec.dat
  tools/afl/input/smessage_sign_roundtrip/ok_short_message_rsa.dat
  tools/afl/input/smessage_sign_verify/ok_short_message_ec.dat
  tools/afl/input/smessage_sign_verify/ok_short_message_rsa.dat
  tools/afl/src/smessage_encrypt_decrypt.c
  tools/afl/src/smessage_encrypt_roundtrip.c
  tools/afl/src/smessage_sign_roundtrip.c
  tools/afl/src/smessage_sign_verify.c
Owners: @vixentael, @ilammy

Drop a line in the changelog
  CHANGELOG.md
Owners: @vixentael, @ilammy

Improve error handling in generator tools
  tools/afl/generate/smessage_encrypt_decrypt.go
  tools/afl/generate/smessage_sign_verify.go
Owners: @vixentael, @ilammy

Unbreak Criterion's HTML reports
  .github/workflows/test-core.yaml
  benches/themis/Cargo.toml
Owners: @vixentael, @ilammy, @iamnotacake

Unbreak Criterion's HTML reports (#764)
  .github/workflows/test-core.yaml
  benches/themis/Cargo.toml
Owners: @vixentael, @ilammy, @iamnotacake

Do not install Python 2 for examples
  .github/workflows/test-python.yaml
Owners: @vixentael, @ilammy

Run examples only with Python 3
  .github/workflows/test-python.yaml
Owners: @vixentael, @ilammy

Run examples only with Python 3 (#765)
  .github/workflows/test-python.yaml
Owners: @vixentael, @ilammy

Migrate to "afl++" from "afl"
  .github/workflows/test-core.yaml
  CHANGELOG.md
  tools/afl/fuzzy.mk
Owners: @vixentael, @ilammy, @shadinua

Pin "fuzzing" job to Ubuntu 18.04
  .github/workflows/test-core.yaml
Owners: @vixentael, @ilammy

Migrate to "afl++" from "afl" (#766)
  .github/workflows/test-core.yaml
  CHANGELOG.md
  tools/afl/fuzzy.mk
Owners: @vixentael, @ilammy, @shadinua

Fix buffer and integer overflows in Secure Message (#763)
  CHANGELOG.md
  src/themis/secure_message.c
  src/themis/secure_message_wrapper.c
  src/themis/secure_message_wrapper.h
Owners: @vixentael, @ilammy, @Lagovas, @storojs72, @ignatk

Fuzzing Secure Message (#762)
  CHANGELOG.md
  tools/afl/generate/smessage_encrypt_decrypt.go
  tools/afl/generate/smessage_sign_verify.go
  tools/afl/input/smessage_encrypt_decrypt/ok_short_message_ec.dat
  tools/afl/input/smessage_encrypt_decrypt/ok_short_message_rsa.dat
  tools/afl/input/smessage_encrypt_roundtrip/ok_short_message_ec.dat
  tools/afl/input/smessage_encrypt_roundtrip/ok_short_message_rsa.dat
  tools/afl/input/smessage_sign_roundtrip/ok_short_message_ec.dat
  tools/afl/input/smessage_sign_roundtrip/ok_short_message_rsa.dat
  tools/afl/input/smessage_sign_verify/ok_short_message_ec.dat
  tools/afl/input/smessage_sign_verify/ok_short_message_rsa.dat
  tools/afl/src/smessage_encrypt_decrypt.c
  tools/afl/src/smessage_encrypt_roundtrip.c
  tools/afl/src/smessage_sign_roundtrip.c
  tools/afl/src/smessage_sign_verify.c
Owners: @vixentael, @ilammy

Test Secure Message signature length weirdness
  tests/themis/themis_seccure_message.c
Owners: @vixentael, @ilammy

Updates links to documentation server in Rust docs
  src/wrappers/themis/rust/src/keygen.rs
  src/wrappers/themis/rust/src/secure_message.rs
Owners: @vixentael, @ilammy, @iamnotacake

Update links in RustThemis README as well
  src/wrappers/themis/rust/README.md
Owners: @vixentael, @ilammy

Quickstart => Getting started
  src/wrappers/themis/rust/README.md
Owners: @vixentael, @ilammy

Capialize as "RustThemis" without a dash
  src/wrappers/themis/rust/README.md
Owners: @vixentael, @ilammy

Replace CircleCI badge with GitHub Actions
  src/wrappers/themis/rust/README.md
Owners: @vixentael, @ilammy

Update more outdated links in Rust doc comments
  src/wrappers/themis/rust/src/keys.rs
  src/wrappers/themis/rust/src/secure_cell.rs
Owners: @vixentael, @ilammy, @iamnotacake

Update doc server links in ObjCThemis comments as well
  src/wrappers/themis/Obj-C/objcthemis/scell.h
  src/wrappers/themis/Obj-C/objcthemis/scell_context_imprint.h
  src/wrappers/themis/Obj-C/objcthemis/scell_seal.h
  src/wrappers/themis/Obj-C/objcthemis/scell_token.h
Owners: @vixentael, @ilammy

Update doc server links in GoThemis comments
  gothemis/cell/cell.go
  gothemis/cell/context_imprint.go
  gothemis/cell/seal.go
  gothemis/cell/seal_pw.go
  gothemis/cell/token_protect.go
Owners: @vixentael, @ilammy

Update doc server links in JavaThemis comments
  src/wrappers/themis/java/com/cossacklabs/themis/SecureCell.java
Owners: @vixentael, @ilammy

Update Themis Server doc links in SwiftThemis examples
  docs/examples/Themis-server/swift/SwiftThemisServerExample/SwiftThemisServerExample/AppDelegate.swift
  docs/examples/Themis-server/swift/SwiftThemisServerExample/SwiftThemisServerExample/SMessageClient.swift
  docs/examples/Themis-server/swift/SwiftThemisServerExample/SwiftThemisServerExample/SSessionClient.swift
Owners: @vixentael, @ilammy

Update language guide links in makefiles
  tests/test.mk
Owners: @vixentael, @ilammy, @shadinua

Update doc server links in AFL docs
  tools/afl/README.md
Owners: @vixentael, @ilammy

Update doc server links in benchmark docs
  benches/themis/README.md
Owners: @vixentael, @ilammy

Update doc server links in "docs/examples"
  docs/examples/README.MD
Owners: @vixentael, @ilammy

Update doc server links in Rust examples
  docs/examples/rust/README.md
Owners: @vixentael, @ilammy

Update doc server links in Objective-C examples
  docs/examples/Themis-server/Obj-C/README.md
Owners: @vixentael, @ilammy

Update doc server links in Swiftexamples
  docs/examples/Themis-server/swift/README.md
Owners: @vixentael, @ilammy

Update PyThemis README
  src/wrappers/themis/python/README.md
Owners: @vixentael, @ilammy

Update JsThemis README
  src/wrappers/themis/jsthemis/README.md
Owners: @vixentael, @ilammy

Update WasmThemis README
  src/wrappers/themis/wasm/README.md
Owners: @vixentael, @ilammy

Update links to contribution information
  CONTRIBUTING.md
Owners: @vixentael, @ilammy

Sync contribution instructions with docs
  CONTRIBUTING.md
Owners: @vixentael, @ilammy

Test Secure Message signature length weirdness (#767)
  tests/themis/themis_seccure_message.c
Owners: @vixentael, @ilammy

Give Java back its whitespace
  src/wrappers/themis/java/com/cossacklabs/themis/SecureCell.java
Owners: @vixentael, @ilammy

Keep whatever weird formatting was there in GoThemis
  gothemis/cell/cell.go
Owners: @vixentael, @ilammy

And some more whitespace for Objective-C
  src/wrappers/themis/Obj-C/objcthemis/scell.h
Owners: @vixentael, @ilammy
