Repository cossacklabs/themis, changes with the owners that CODEOWNERS names for each.
All owners: @vixentael, @ilammy, @Lagovas, @storojs72, @ignatk, @shadinua, @iamnotacake

Unbreak Criterion's HTML reports
  .circleci/config.yml
  .github/workflows/test-core.yaml
  benches/themis/Cargo.toml
Owners: @vixentael, @ilammy, @iamnotacake

Unbreak Criterion's HTML reports (#764 => #769)
  .circleci/config.yml
  .github/workflows/test-core.yaml
  benches/themis/Cargo.toml
Owners: @vixentael, @ilammy, @iamnotacake

Migrate to "afl++" from "afl"
  .github/workflows/test-core.yaml
  tools/afl/fuzzy.mk
Owners: @vixentael, @ilammy, @shadinua

Run examples only with Python 3
  .github/workflows/test-python.yaml
Owners: @vixentael, @ilammy

Use new trait order in generated code
  src/wrappers/themis/rust/libthemis-sys/src/lib.rs
Owners: @vixentael, @ilammy, @iamnotacake

Update code style checking job to Ubuntu 20.04
  .github/workflows/code-style.yaml
Owners: @vixentael, @ilammy

Run examples only with Python 3 (#765 => #771)
  .github/workflows/test-python.yaml
Owners: @vixentael, @ilammy

Use new trait order in generated code (#758 => #772)
  src/wrappers/themis/rust/libthemis-sys/src/lib.rs
Owners: @vixentael, @ilammy, @iamnotacake

Update code style checking job to Ubuntu 20.04 (#761 => #773)
  .github/workflows/code-style.yaml
Owners: @vixentael, @ilammy

Migrate to "afl++" from "afl" (#766 => #770)
  .github/workflows/test-core.yaml
  tools/afl/fuzzy.mk
Owners: @vixentael, @ilammy, @shadinua

Update misc. links and READMEs (#768)
  CONTRIBUTING.md
  benches/themis/README.md
  docs/examples/README.MD
  docs/examples/Themis-server/Obj-C/README.md
  docs/examples/Themis-server/swift/README.md
  docs/examples/Themis-server/swift/SwiftThemisServerExample/SwiftThemisServerExample/AppDelegate.swift
  docs/examples/Themis-server/swift/SwiftThemisServerExample/SwiftThemisServerExample/SMessageClient.swift
  docs/examples/Themis-server/swift/SwiftThemisServerExample/SwiftThemisServerExample/SSessionClient.swift
  docs/examples/rust/README.md
  gothemis/cell/cell.go
  gothemis/cell/context_imprint.go
  gothemis/cell/seal.go
  gothemis/cell/seal_pw.go
  gothemis/cell/token_protect.go
  src/wrappers/themis/Obj-C/objcthemis/scell.h
  src/wrappers/themis/Obj-C/objcthemis/scell_context_imprint.h
  src/wrappers/themis/Obj-C/objcthemis/scell_seal.h
  src/wrappers/themis/Obj-C/objcthemis/scell_token.h
  src/wrappers/themis/java/com/cossacklabs/themis/SecureCell.java
  src/wrappers/themis/jsthemis/README.md
  src/wrappers/themis/python/README.md
  src/wrappers/themis/rust/README.md
  src/wrappers/themis/rust/src/keygen.rs
  src/wrappers/themis/rust/src/keys.rs
  src/wrappers/themis/rust/src/secure_cell.rs
  src/wrappers/themis/rust/src/secure_message.rs
  src/wrappers/themis/wasm/README.md
  tests/test.mk
  tools/afl/README.md
Owners: @vixentael, @ilammy, @iamnotacake, @shadinua

Test Secure Message weirdness correctly
  tests/themis/themis_seccure_message.c
Owners: @vixentael, @ilammy

Optimize Secure Message signature length
  CHANGELOG.md
  gothemis/message/message.go
  gothemis/message/message_test.go
Owners: @vixentael, @ilammy

Drop duplicated input data
  gothemis/message/message_test.go
Owners: @vixentael, @ilammy

Test and fix same thing for ThemisPP
  CHANGELOG.md
  src/wrappers/themis/themispp/secure_message.hpp
  tests/themispp/secure_message_test.hpp
Owners: @vixentael, @ilammy

Test Secure Message weirdness correctly (#774)
  tests/themis/themis_seccure_message.c
Owners: @vixentael, @ilammy

Rewrite changelog entries for clarity
  CHANGELOG.md
Owners: @vixentael, @ilammy

Optimize Secure Message signature length (#775)
  CHANGELOG.md
  gothemis/message/message.go
  gothemis/message/message_test.go
  src/wrappers/themis/themispp/secure_message.hpp
  tests/themispp/secure_message_test.hpp
Owners: @vixentael, @ilammy

Fix a possible memory leak
  jni/themis_message.c
Owners: @vixentael, @ilammy

Fix Secure Message output length
  jni/themis_message.c
Owners: @vixentael, @ilammy

Drop a line into the changelog
  CHANGELOG.md
Owners: @vixentael, @ilammy

Test for overlong signatures in Java
  tests/themis/wrappers/android/com/cossacklabs/themis/test/SecureMessageTest.java
Owners: @vixentael, @ilammy

Optimize Secure Message length (#777)
  CHANGELOG.md
  jni/themis_message.c
  tests/themis/wrappers/android/com/cossacklabs/themis/test/SecureMessageTest.java
Owners: @vixentael, @ilammy

Update Emscripten 2.0.9 => 2.0.13
  .github/workflows/integration.yaml
  .github/workflows/test-wasm.yaml
Owners: @vixentael, @ilammy

Decrease limit for KDF execution time in test
  src/wrappers/themis/wasm/test/test.js
Owners: @vixentael, @ilammy

Update Emscripten 2.0.9 => 2.0.13 (#780)
  .github/workflows/integration.yaml
  .github/workflows/test-wasm.yaml
Owners: @vixentael, @ilammy

Use correct Javadoc syntax for @param
  src/wrappers/themis/java/com/cossacklabs/themis/KeypairGenerator.java
  src/wrappers/themis/java/com/cossacklabs/themis/SecureCell.java
  src/wrappers/themis/java/com/cossacklabs/themis/SecureCellData.java
  src/wrappers/themis/java/com/cossacklabs/themis/SecureMessage.java
  src/wrappers/themis/java/com/cossacklabs/themis/SecureSession.java
Owners: @vixentael, @ilammy

Use correct Javadoc syntax for enum variants
  src/wrappers/themis/java/com/cossacklabs/themis/SecureSession.java
Owners: @vixentael, @ilammy

Remove TextEncoder polyfill (#779)
  src/wrappers/themis/wasm/package-lock.json
  src/wrappers/themis/wasm/package.json
  src/wrappers/themis/wasm/src/utils.js
Owners: @vixentael, @ilammy

Remove TextEncoder polyfill (#783)
  src/wrappers/themis/wasm/package-lock.json
  src/wrappers/themis/wasm/package.json
  src/wrappers/themis/wasm/src/utils.js
Owners: @vixentael, @ilammy

Use correct Javadoc syntax (#782)
  src/wrappers/themis/java/com/cossacklabs/themis/KeypairGenerator.java
  src/wrappers/themis/java/com/cossacklabs/themis/SecureCell.java
  src/wrappers/themis/java/com/cossacklabs/themis/SecureCellData.java
  src/wrappers/themis/java/com/cossacklabs/themis/SecureMessage.java
  src/wrappers/themis/java/com/cossacklabs/themis/SecureSession.java
Owners: @vixentael, @ilammy

Decrease limit for KDF execution time in test (#781)
  src/wrappers/themis/wasm/test/test.js
Owners: @vixentael, @ilammy

Add more pom.xml metadata
  src/wrappers/themis/android/build.gradle
Owners: @vixentael, @ilammy

Add Sonatype staging repository
  src/wrappers/themis/android/build.gradle
Owners: @vixentael, @ilammy

Sign artifacts before publishing
  src/wrappers/themis/android/build.gradle
Owners: @vixentael, @ilammy

Mention migration in changelog
  CHANGELOG.md
Owners: @vixentael, @ilammy

Update comments and add TODOs
  src/wrappers/themis/android/build.gradle
Owners: @vixentael, @ilammy

Update comments about "org.gradle.configureondemand"
  gradle.properties
Owners: @vixentael, @ilammy

Remove Bintray publishing
  src/wrappers/themis/android/build.gradle
Owners: @vixentael, @ilammy

Update publishing task exception list
  src/wrappers/themis/android/build.gradle
Owners: @vixentael, @ilammy

CODEOWNERS:

# Default reviewer set
*                   @vixentael @ilammy
/src/soter/         @vixentael @Lagovas @ilammy @storojs72 @ignatk
/src/themis/        @vixentael @Lagovas @ilammy @storojs72 @ignatk

# Build system
Makefile            @vixentael @ilammy @shadinua
*.mk                @vixentael @ilammy @shadinua
*.sh                @vixentael @ilammy @shadinua

# rust-themis
Cargo.toml          @vixentael @ilammy @iamnotacake
*.rs                @vixentael @ilammy @iamnotacake
