Repository cossacklabs/themis, changes with the owners that CODEOWNERS names for each.
All owners: @vixentael, @ilammy, @Lagovas, @storojs72, @ignatk, @shadinua, @iamnotacake

CODEOWNERS:

# Default reviewer set
*                   @vixentael @ilammy
/src/soter/         @vixentael @Lagovas @ilammy @storojs72 @ignatk
/src/themis/        @vixentael @Lagovas @ilammy @storojs72 @ignatk

# Build system
Makefile            @vixentael @ilammy @shadinua
*.mk                @vixentael @ilammy @shadinua
*.sh                @vixentael @ilammy @shadinua

# rust-themis
Cargo.toml          @vixentael @ilammy @iamnotacake
*.rs                @vixentael @ilammy @iamnotacake

Updating unit tests and github actions
  .github/workflows/test-objc.yaml
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

minor test fixes
  .github/workflows/test-objc.yaml
Owners: @vixentael, @ilammy

Add benchmark for Token Protect - Master Key
  benches/themis/Cargo.toml
  benches/themis/benches/secure_cell_token_protect_master_key.rs
Owners: @vixentael, @ilammy, @iamnotacake

Add benchmark for Context Imprint - Master Key
  benches/themis/Cargo.toml
  benches/themis/benches/secure_cell_context_imprint_master_key.rs
Owners: @vixentael, @ilammy, @iamnotacake

Add benchmark for Secure Message, enc/dec - ECDSA
  benches/themis/Cargo.toml
  benches/themis/benches/secure_message_encrypt_decrypt_ecdsa.rs
Owners: @vixentael, @ilammy, @iamnotacake

Add benchmark for Secure Message, enc/dec - RSA
  benches/themis/Cargo.toml
  benches/themis/benches/secure_message_encrypt_decrypt_rsa.rs
Owners: @vixentael, @ilammy, @iamnotacake

Add benchmark for Secure Message, sig/ver - ECDSA
  benches/themis/Cargo.toml
  benches/themis/benches/secure_message_sign_verify_ecdsa.rs
Owners: @vixentael, @ilammy, @iamnotacake

edits to changelog, project version, using github access token for carthage
  .github/workflows/test-objc.yaml
  CHANGELOG.md
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

Add benchmark for Secure Message, sig/ver - RSA
  benches/themis/Cargo.toml
  benches/themis/benches/secure_message_sign_verify_rsa.rs
Owners: @vixentael, @ilammy, @iamnotacake

Update README
  benches/themis/README.md
Owners: @vixentael, @ilammy

removed carthage version update workaround, changelog update
  .github/workflows/test-objc.yaml
  CHANGELOG.md
Owners: @vixentael, @ilammy

Add benchmark for wrapped cell in seal mode
  benches/themis/Cargo.toml
  benches/themis/benches/secure_cell_wrapped_seal_master_key.rs
Owners: @vixentael, @ilammy, @iamnotacake

Add benchmark for wrapped cell in token protect
  benches/themis/Cargo.toml
  benches/themis/benches/secure_cell_wrapped_token_protect_master_key.rs
Owners: @vixentael, @ilammy, @iamnotacake

minor update to ci workflow
  .github/workflows/test-objc.yaml
Owners: @vixentael, @ilammy

Add bench for wrapped cell in context imprint mode
  benches/themis/Cargo.toml
  benches/themis/benches/secure_cell_wrapped_context_imprint_master_key.rs
Owners: @vixentael, @ilammy, @iamnotacake

Carthage XCF support and OpenSSL 1.1.1k (#817)
  .github/workflows/test-objc.yaml
  CHANGELOG.md
  Cartfile
  Cartfile.resolved
  Package.swift
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

Add bench for wrapped cell in seal with passphrase
  benches/themis/Cargo.toml
  benches/themis/benches/secure_cell_wrapped_seal_passphrase.rs
Owners: @vixentael, @ilammy, @iamnotacake

Carthage XCF support and OpenSSL 1.1.1k (#817) (#820)
  .github/workflows/test-objc.yaml
  CHANGELOG.md
  Cartfile
  Cartfile.resolved
  Package.swift
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

merge stable into master
  .github/workflows/test-objc.yaml
  CHANGELOG.md
  Cartfile
  Cartfile.resolved
  Package.swift
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

Updated Carthage examples to use XCF
  docs/examples/objc/iOS-Carthage/Cartfile
  docs/examples/objc/iOS-Carthage/Cartfile.resolved
  docs/examples/objc/iOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/macOS-Carthage/Cartfile
  docs/examples/objc/macOS-Carthage/Cartfile.resolved
  docs/examples/objc/macOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/swift/iOS-Carthage/Cartfile
  docs/examples/swift/iOS-Carthage/Cartfile.resolved
  docs/examples/swift/iOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/swift/macOS-Carthage/Cartfile
  docs/examples/swift/macOS-Carthage/Cartfile.resolved
  docs/examples/swift/macOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

updated changelog
  CHANGELOG.md
Owners: @vixentael, @ilammy

updated github actions workflow
  .github/workflows/test-objc.yaml
Owners: @vixentael, @ilammy

Change naming of Rust benches
  benches/themis/Cargo.toml
  benches/themis/benches/rust_secure_cell_context_imprint_master_key.rs
  benches/themis/benches/rust_secure_cell_seal_master_key.rs
  benches/themis/benches/rust_secure_cell_seal_passphrase.rs
  benches/themis/benches/rust_secure_cell_token_protect_master_key.rs
Owners: @vixentael, @ilammy, @iamnotacake

Update CHANGELOG.md - extra parentheses
  CHANGELOG.md
Owners: @vixentael, @ilammy

Add Secure Message benches into CI
  .github/workflows/test-core.yaml
Owners: @vixentael, @ilammy

Fix CI to run only core benchmarks of Secure Cell
  .github/workflows/test-core.yaml
Owners: @vixentael, @ilammy

Fix CI to run only core benches of Secure Message
  .github/workflows/test-core.yaml
Owners: @vixentael, @ilammy

Move RustThemis benches into separate crate
  Cargo.toml
  benches/rust/.gitignore
  benches/rust/Cargo.toml
  benches/rust/README.md
  benches/rust/benches/rust_secure_cell_context_imprint_master_key.rs
  benches/rust/benches/rust_secure_cell_seal_master_key.rs
  benches/rust/benches/rust_secure_cell_seal_passphrase.rs
  benches/rust/benches/rust_secure_cell_token_protect_master_key.rs
  benches/themis/Cargo.toml
Owners: @vixentael, @ilammy, @iamnotacake

Remove prefix `rust_` in the RustThemis benchmark filenames
  benches/rust/Cargo.toml
  benches/rust/benches/secure_cell_context_imprint_master_key.rs
  benches/rust/benches/secure_cell_seal_master_key.rs
  benches/rust/benches/secure_cell_seal_passphrase.rs
  benches/rust/benches/secure_cell_token_protect_master_key.rs
Owners: @vixentael, @ilammy, @iamnotacake

Update benches/README.md
  benches/README.md
Owners: @vixentael, @ilammy

Update benches/rust/README.md
  benches/rust/README.md
Owners: @vixentael, @ilammy

Refactor with cargo-clippy
  benches/themis/benches/secure_message_sign_verify_ecdsa.rs
  benches/themis/benches/secure_message_sign_verify_rsa.rs
Owners: @vixentael, @ilammy, @iamnotacake

Updated Carthage examples to use XCF (#823)
  .github/workflows/test-objc.yaml
  CHANGELOG.md
  docs/examples/objc/iOS-Carthage/Cartfile
  docs/examples/objc/iOS-Carthage/Cartfile.resolved
  docs/examples/objc/iOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/macOS-Carthage/Cartfile
  docs/examples/objc/macOS-Carthage/Cartfile.resolved
  docs/examples/objc/macOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/swift/iOS-Carthage/Cartfile
  docs/examples/swift/iOS-Carthage/Cartfile.resolved
  docs/examples/swift/iOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/swift/macOS-Carthage/Cartfile
  docs/examples/swift/macOS-Carthage/Cartfile.resolved
  docs/examples/swift/macOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

More Themis benchmarks (#821)
  .github/workflows/test-core.yaml
  Cargo.toml
  benches/README.md
  benches/rust/.gitignore
  benches/rust/Cargo.toml
  benches/rust/README.md
  benches/rust/benches/secure_cell_context_imprint_master_key.rs
  benches/rust/benches/secure_cell_seal_master_key.rs
  benches/rust/benches/secure_cell_seal_passphrase.rs
  benches/rust/benches/secure_cell_token_protect_master_key.rs
  benches/themis/benches/secure_cell_context_imprint_master_key.rs
  benches/themis/benches/secure_cell_token_protect_master_key.rs
  benches/themis/benches/secure_message_encrypt_decrypt_ecdsa.rs
  benches/themis/benches/secure_message_encrypt_decrypt_rsa.rs
  benches/themis/benches/secure_message_sign_verify_ecdsa.rs
  benches/themis/benches/secure_message_sign_verify_rsa.rs
Owners: @vixentael, @ilammy, @iamnotacake

Uninstall CMake 3.18.1 from Android SDK
  .github/workflows/test-java.yaml
Owners: @vixentael, @ilammy

Pin runner to macos-10.15
  .github/workflows/test-java.yaml
Owners: @vixentael, @ilammy

Improve readability with newlines and indents
  scripts/create_xcframeworks.sh
Owners: @vixentael, @ilammy, @shadinua

Remove boilerplate from comments
  scripts/create_xcframeworks.sh
Owners: @vixentael, @ilammy, @shadinua

Check working directory in scripts/create_xcframeworks.sh
  scripts/create_xcframeworks.sh
Owners: @vixentael, @ilammy, @shadinua

Don't save PWD, use "cd ~-" instead
  scripts/create_xcframeworks.sh
Owners: @vixentael, @ilammy, @shadinua
