Repository cossacklabs/themis, changes with the owners that CODEOWNERS names for each.
All owners: @vixentael, @ilammy, @Lagovas, @storojs72, @ignatk, @shadinua, @iamnotacake

Exercise BoringSSL unit tests on GitHub Actions
  .github/workflows/test-objc.yaml
Owners: @vixentael, @ilammy

Link BoringSSL-based tests with BoringSSL-based build
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

New test unit-targets for BoringSSL-based builds
  Themis.xcodeproj/project.pbxproj
  Themis.xcodeproj/xcshareddata/xcschemes/Test Themis (BoringSSL, Swift 5, iOS).xcscheme
  Themis.xcodeproj/xcshareddata/xcschemes/Test Themis (BoringSSL, Swift 5, macOS).xcscheme
Owners: @vixentael, @ilammy

Link against embedded BoringSSL
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

Xcode targets for building Themis with BoringSSL
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

Build BoringSSL variant of Soter for BoringSSL builds
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

Configure BoringSSL preprocessor definitions
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

Add "src/soter/boringssl" into Xcode project
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

Update embedded BoringSSL
  CHANGELOG.md
Owners: @vixentael, @ilammy

Improve code quality
  .gitignore
  include/themis/themis_error.h
  src/soter/soter_ec_key.c
  src/soter/soter_hmac.c
  src/soter/soter_kdf.c
  src/soter/soter_rsa_key.c
  src/soter/soter_sign.c
  src/themis/secure_cell_seal_passphrase.c
  src/themis/secure_comparator.c
  src/themis/secure_message_wrapper.c
  src/themis/secure_message_wrapper.h
  src/themis/secure_session.c
  src/themis/secure_session_message.c
  src/themis/secure_session_serialize.c
  src/themis/secure_session_utils.c
  src/themis/sym_enc_message.c
  tests/rust/secure_cell.rs
Owners: @vixentael, @ilammy, @Lagovas, @storojs72, @ignatk, @iamnotacake

Copy cossacklabs/themis-java-examples/android-example
  docs/examples/android/.gitignore
  docs/examples/android/app/.gitignore
  docs/examples/android/app/build.gradle
  docs/examples/android/app/proguard-rules.pro
  docs/examples/android/app/src/main/AndroidManifest.xml
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/HttpCallback.java
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/HttpClient.java
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/MainActivitySecureCell.java
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/MainActivitySecureMessage.java
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/MainActivitySecureSession.java
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/SecMessageExampleClient.java
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/SecSessionExampleClient.java
  docs/examples/android/app/src/main/res/layout/activity_main.xml
  docs/examples/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  docs/examples/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  docs/examples/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  docs/examples/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  docs/examples/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  docs/examples/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  docs/examples/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  docs/examples/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  docs/examples/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  docs/examples/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  docs/examples/android/app/src/main/res/values/colors.xml
  docs/examples/android/app/src/main/res/values/strings.xml
  docs/examples/android/app/src/main/res/values/styles.xml
  docs/examples/android/build.gradle
  docs/examples/android/gradle.properties
  docs/examples/android/gradle/wrapper/gradle-wrapper.jar
  docs/examples/android/gradle/wrapper/gradle-wrapper.properties
  docs/examples/android/gradlew
  docs/examples/android/gradlew.bat
  docs/examples/android/settings.gradle
Owners: @vixentael, @ilammy

Bump Gradle version 4.1.2 => 4.1.3
  docs/examples/android/build.gradle
Owners: @vixentael, @ilammy

Bump target SDK 26 => 29
  docs/examples/android/app/build.gradle
Owners: @vixentael, @ilammy

Migrate from "android.support" library to "androidx.appcompat"
  docs/examples/android/app/build.gradle
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/MainActivitySecureCell.java
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/MainActivitySecureMessage.java
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/MainActivitySecureSession.java
  docs/examples/android/app/src/main/res/layout/activity_main.xml
  docs/examples/android/gradle.properties
Owners: @vixentael, @ilammy

Bump androidx.appcompat 1.0.0 => 1.2.0
  docs/examples/android/app/build.gradle
Owners: @vixentael, @ilammy

Bump androidx.constraintlayout 1.1.3 => 2.0.4
  docs/examples/android/app/build.gradle
Owners: @vixentael, @ilammy

Configure Kotlin for the project
  docs/examples/android/app/build.gradle
  docs/examples/android/build.gradle
Owners: @vixentael, @ilammy

Convert Android example to Kotlin
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/HttpCallback.java
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/HttpCallback.kt
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/HttpClient.java
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/HttpClient.kt
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/MainActivitySecureCell.java
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/MainActivitySecureCell.kt
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/MainActivitySecureMessage.java
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/MainActivitySecureMessage.kt
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/MainActivitySecureSession.java
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/MainActivitySecureSession.kt
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/SecMessageExampleClient.java
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/SecMessageExampleClient.kt
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/SecSessionExampleClient.java
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/SecSessionExampleClient.kt
Owners: @vixentael, @ilammy

Adjust nullability here and there
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/SecSessionExampleClient.kt
Owners: @vixentael, @ilammy

Bump Kotlin 1.3.72 => 1.4.32
  docs/examples/android/build.gradle
Owners: @vixentael, @ilammy

Use Kotlin-style array comparisons
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/SecSessionExampleClient.kt
Owners: @vixentael, @ilammy

Don't use properties where parameters suffice
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/HttpClient.kt
Owners: @vixentael, @ilammy

Relax exception annotations
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/HttpClient.kt
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/MainActivitySecureCell.kt
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/MainActivitySecureMessage.kt
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/MainActivitySecureSession.kt
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/SecMessageExampleClient.kt
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/SecSessionExampleClient.kt
Owners: @vixentael, @ilammy

Explicit Themis imports
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/MainActivitySecureMessage.kt
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/SecMessageExampleClient.kt
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/SecSessionExampleClient.kt
Owners: @vixentael, @ilammy

Update changelog
  CHANGELOG.md
Owners: @vixentael, @ilammy

Build Android examples on GitHub Actions
  .github/workflows/test-java.yaml
Owners: @vixentael, @ilammy

Update npm lockfiles
  src/wrappers/themis/jsthemis/package-lock.json
  src/wrappers/themis/wasm/package-lock.json
Owners: @vixentael, @ilammy

Copy cossacklabs/themis-java-examples/java-example
  docs/examples/java/build.gradle
  docs/examples/java/gradle/wrapper/gradle-wrapper.jar
  docs/examples/java/gradle/wrapper/gradle-wrapper.properties
  docs/examples/java/gradlew
  docs/examples/java/gradlew.bat
  docs/examples/java/src/SMessageClient.java
  docs/examples/java/src/SSessionClient.java
  docs/examples/java/src/main.java
Owners: @vixentael, @ilammy

Restructure Gradle project a bit
  docs/examples/java/app/build.gradle
  docs/examples/java/app/src/SMessageClient.java
  docs/examples/java/app/src/SSessionClient.java
  docs/examples/java/app/src/main.java
  docs/examples/java/build.gradle
  docs/examples/java/settings.gradle
Owners: @vixentael, @ilammy

Run JavaThemis examples on CI
  .github/workflows/test-java.yaml
Owners: @vixentael, @ilammy

Update changelog
  CHANGELOG.md
Owners: @vixentael, @ilammy

Update changelog
  CHANGELOG.md
Owners: @vixentael, @ilammy

Add more improvements!
  src/themis/secure_message_wrapper.c
Owners: @vixentael, @Lagovas, @ilammy, @storojs72, @ignatk

Carthage XCF and OpenSSL 1.1.1k support
  Cartfile
  Cartfile.resolved
  Package.swift
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

Update CHANGELOG.md
  CHANGELOG.md
Owners: @vixentael, @ilammy

Update npm lockfiles (#814)
  src/wrappers/themis/jsthemis/package-lock.json
  src/wrappers/themis/wasm/package-lock.json
Owners: @vixentael, @ilammy

Assimilate Android example project (#813)
  .github/workflows/test-java.yaml
  CHANGELOG.md
  docs/examples/android/.gitignore
  docs/examples/android/app/.gitignore
  docs/examples/android/app/build.gradle
  docs/examples/android/app/proguard-rules.pro
  docs/examples/android/app/src/main/AndroidManifest.xml
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/HttpCallback.kt
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/HttpClient.kt
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/MainActivitySecureCell.kt
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/MainActivitySecureMessage.kt
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/MainActivitySecureSession.kt
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/SecMessageExampleClient.kt
  docs/examples/android/app/src/main/java/com/cossacklabs/themis/android/example/SecSessionExampleClient.kt
  docs/examples/android/app/src/main/res/layout/activity_main.xml
  docs/examples/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  docs/examples/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  docs/examples/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  docs/examples/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  docs/examples/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  docs/examples/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  docs/examples/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  docs/examples/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  docs/examples/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  docs/examples/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  docs/examples/android/app/src/main/res/values/colors.xml
  docs/examples/android/app/src/main/res/values/strings.xml
  docs/examples/android/app/src/main/res/values/styles.xml
  docs/examples/android/build.gradle
  docs/examples/android/gradle.properties
  docs/examples/android/gradle/wrapper/gradle-wrapper.jar
  docs/examples/android/gradle/wrapper/gradle-wrapper.properties
  docs/examples/android/gradlew
  docs/examples/android/gradlew.bat
  docs/examples/android/settings.gradle
Owners: @vixentael, @ilammy

Assimilate Java example project (#816)
  .github/workflows/test-java.yaml
  CHANGELOG.md
  docs/examples/java/app/build.gradle
  docs/examples/java/app/src/SMessageClient.java
  docs/examples/java/app/src/SSessionClient.java
  docs/examples/java/app/src/main.java
  docs/examples/java/build.gradle
  docs/examples/java/gradle/wrapper/gradle-wrapper.jar
  docs/examples/java/gradle/wrapper/gradle-wrapper.properties
  docs/examples/java/gradlew
  docs/examples/java/gradlew.bat
  docs/examples/java/settings.gradle
Owners: @vixentael, @ilammy

Build Themis + BoringSSL with Xcode (#810)
  .github/workflows/test-objc.yaml
  Themis.xcodeproj/project.pbxproj
  Themis.xcodeproj/xcshareddata/xcschemes/Test Themis (BoringSSL, Swift 5, iOS).xcscheme
  Themis.xcodeproj/xcshareddata/xcschemes/Test Themis (BoringSSL, Swift 5, macOS).xcscheme
Owners: @vixentael, @ilammy

removed arch workaround, force update carthage version
  .github/workflows/test-objc.yaml
Owners: @vixentael, @ilammy

CODEOWNERS:

# Default reviewer set
*                   @vixentael @ilammy
/src/soter/         @vixentael @Lagovas @ilammy @storojs72 @ignatk
/src/themis/        @vixentael @Lagovas @ilammy @storojs72 @ignatk

# Build system
Makefile            @vixentael @ilammy @shadinua
*.mk                @vixentael @ilammy @shadinua
*.sh                @vixentael @ilammy @shadinua

# rust-themis
Cargo.toml          @vixentael @ilammy @iamnotacake
*.rs                @vixentael @ilammy @iamnotacake
