Repository cossacklabs/themis, changes with the owners that CODEOWNERS names for each.
All owners: @vixentael, @Lagovas, @ilammy, @G1gg1L3s, @shadinua, @iamnotacake, @julepka

CODEOWNERS:

# Default reviewer set
*                   @vixentael @Lagovas
/src/soter/         @vixentael @Lagovas @ilammy @G1gg1L3s
/src/themis/        @vixentael @Lagovas @ilammy @G1gg1L3s

# Build system
Makefile            @vixentael @ilammy @shadinua
*.mk                @vixentael @ilammy @shadinua
*.sh                @vixentael @ilammy @shadinua

# rust-themis
Cargo.toml          @vixentael @ilammy @iamnotacake @G1gg1L3s
*.rs                @vixentael @ilammy @iamnotacake @G1gg1L3s

# Land of the Fruit
/docs/examples/objc         @vixentael @julepka
/docs/examples/swift        @vixentael @julepka
/src/wrappers/themis/Obj-C  @vixentael @julepka
/tests/objcthemis           @vixentael @julepka
*.podspec                   @vixentael @julepka
*.xcodeproj                 @vixentael @julepka
*.xcworkspace               @vixentael @julepka
Cartfile*                   @vixentael @julepka
Package.swift               @vixentael @julepka
Podfile*                    @vixentael @julepka

/docs/reference-implementation  @vixentael @Lagovas @ilammy @G1gg1L3s
/tests/reference-implementation @vixentael @Lagovas @ilammy @G1gg1L3s

CI: Use new `bindgen` binary crate name (#958)
  .github/workflows/test-rust.yaml
  src/wrappers/themis/rust/libthemis-sys/src/lib.rs
Owners: @vixentael, @Lagovas, @ilammy, @iamnotacake, @G1gg1L3s

update changelog
  CHANGELOG.md
Owners: @vixentael, @Lagovas

update changelog: release url
  CHANGELOG.md
Owners: @vixentael, @Lagovas

Update changelog (#964)
  CHANGELOG.md
Owners: @vixentael, @Lagovas

Fix typos
  README.md
  include/soter/soter_asym_cipher.h
  include/soter/soter_asym_ka.h
  include/soter/soter_asym_sign.h
  include/soter/soter_hash.h
  include/soter/soter_hmac.h
  include/soter/soter_kdf.h
  include/soter/soter_sym.h
  include/themis/secure_cell.h
  include/themis/secure_message.h
  include/themis/secure_session.h
  src/soter/boringssl/soter_asym_cipher.c
  src/soter/ed25519/fe_mul.c
  src/soter/openssl/soter_asym_cipher.c
  src/soter/openssl/soter_asym_ka.c
  src/soter/soter_crc32.c
  src/soter/soter_ec_key.h
  src/soter/soter_rsa_key.h
  src/themis/secure_cell_seal_passphrase.h
  src/themis/secure_comparator.c
  src/themis/secure_message_wrapper.c
  src/themis/sym_enc_message.h
  src/wrappers/themis/Obj-C/objcthemis/serror.h
  src/wrappers/themis/Obj-C/objcthemis/ssession_transport_interface.h
  src/wrappers/themis/java/com/cossacklabs/themis/SecureSession.java
  src/wrappers/themis/php/php_themis.c
  src/wrappers/themis/php7/php_cell.c
  src/wrappers/themis/php7/php_session.c
  src/wrappers/themis/python/pythemis/ssession.py
  src/wrappers/themis/rust/src/lib.rs
  src/wrappers/themis/themispp/input_buffer.hpp
  src/wrappers/themis/themispp/secure_cell_context_imprint.hpp
  src/wrappers/themis/themispp/secure_cell_seal.hpp
  src/wrappers/themis/themispp/secure_cell_token_protect.hpp
  src/wrappers/themis/wasm/src/index.ts
  src/wrappers/themis/wasm/src/secure_comparator.ts
  src/wrappers/themis/wasm/src/secure_session.ts
  src/wrappers/themis/wasm/test/test.js
Owners: @vixentael, @Lagovas, @ilammy, @G1gg1L3s, @julepka, @iamnotacake

Updated jni/themis_session.c
  jni/themis_session.c
Owners: @vixentael, @Lagovas

Update include/soter/soter_asym_cipher.h
  include/soter/soter_asym_cipher.h
Owners: @vixentael, @Lagovas

Update README.md
  README.md
Owners: @vixentael, @Lagovas

README.md Revert to British: analyse
  README.md
Owners: @vixentael, @Lagovas

Updated "keypair" to "key pair"
  docs/examples/react-native/react-native-example/App.js
  gothemis/keys/keypair.go
  src/wrappers/themis/java/com/cossacklabs/themis/Keypair.java
  src/wrappers/themis/java/com/cossacklabs/themis/KeypairGenerator.java
Owners: @vixentael, @Lagovas

Updated "less then need" to "less than needed"
  include/soter/soter_asym_cipher.h
  include/soter/soter_asym_ka.h
  include/soter/soter_asym_sign.h
  include/soter/soter_hash.h
  include/soter/soter_hmac.h
  include/soter/soter_sym.h
Owners: @vixentael, @Lagovas

Update jni/themis_session.c alias to function call
  jni/themis_session.c
Owners: @vixentael, @Lagovas

Remove accidental whitespace in jni/themis_session.c
  jni/themis_session.c
Owners: @vixentael, @Lagovas

Revent to british "travelling" in src/wrappers/themis/rust/src/lib.rs
  src/wrappers/themis/rust/src/lib.rs
Owners: @vixentael, @ilammy, @iamnotacake, @G1gg1L3s

pythemis: Extra effort to locate Themis Core library
  CHANGELOG.md
  src/wrappers/themis/python/pythemis/__init__.py
  src/wrappers/themis/python/pythemis/scell.py
  src/wrappers/themis/python/pythemis/scomparator.py
  src/wrappers/themis/python/pythemis/skeygen.py
  src/wrappers/themis/python/pythemis/smessage.py
  src/wrappers/themis/python/pythemis/ssession.py
Owners: @vixentael, @Lagovas

pythemis: Bump to 0.14.10
  src/wrappers/themis/python/PKG-INFO
  src/wrappers/themis/python/setup.py
Owners: @vixentael, @Lagovas

pythemis: Correct Metadata-Version
  src/wrappers/themis/python/PKG-INFO
Owners: @vixentael, @Lagovas

pythemis: Extra effort to locate Themis Core library (#965)
  CHANGELOG.md
  src/wrappers/themis/python/PKG-INFO
  src/wrappers/themis/python/pythemis/__init__.py
  src/wrappers/themis/python/pythemis/scell.py
  src/wrappers/themis/python/pythemis/scomparator.py
  src/wrappers/themis/python/pythemis/skeygen.py
  src/wrappers/themis/python/pythemis/smessage.py
  src/wrappers/themis/python/pythemis/ssession.py
  src/wrappers/themis/python/setup.py
Owners: @vixentael, @Lagovas
