Repository cossacklabs/themis, changes with the owners that CODEOWNERS names for each.
All owners: @vixentael, @ilammy, @Lagovas, @storojs72, @ignatk, @shadinua, @iamnotacake

Add JS tests
  src/wrappers/themis/jsthemis/test/test.js
Owners: @vixentael, @ilammy

Update .gitignore
  .gitignore
Owners: @vixentael, @ilammy

Add Go tests
  gothemis/session/session_test.go
Owners: @vixentael, @ilammy

Add Python tests, fix Python wrapper
  src/wrappers/themis/python/pythemis/scomparator.py
  src/wrappers/themis/python/pythemis/ssession.py
  tests/pythemis/test_ssession.py
Owners: @vixentael, @ilammy

Add Ruby tests, fix Ruby wrapper
  src/wrappers/themis/ruby/lib/rbthemis.rb
  tests/rbthemis/ssession_test.rb
Owners: @vixentael, @ilammy

Add C++ tests
  tests/themispp/secure_session_test.hpp
  tests/themispp/secure_session_test_keys.hpp
Owners: @vixentael, @ilammy

Fixup for JS tests
  src/wrappers/themis/jsthemis/test/test.js
Owners: @vixentael, @ilammy

Build embedded BoringSSL with symbol prefix (#702)
  CHANGELOG.md
  Makefile
  src/soter/boringssl/soter.mk
  src/soter/soter.mk
Owners: @vixentael, @ilammy, @shadinua

Check Secure Session constuction failure in ObjCThemis
  src/wrappers/themis/Obj-C/objcthemis/ssession.m
Owners: @vixentael, @ilammy

Updates after review
  CHANGELOG.md
  gothemis/session/session_test.go
  src/wrappers/themis/jsthemis/test/test.js
  src/wrappers/themis/ruby/lib/rbthemis.rb
  tests/pythemis/test_ssession.py
  tests/rbthemis/ssession_test.rb
  tests/themispp/secure_session_test.hpp
Owners: @vixentael, @ilammy

Alphabetically sort code-related news in changelog
  CHANGELOG.md
Owners: @vixentael, @ilammy

Updates after review
  CHANGELOG.md
  gothemis/session/session_test.go
  tests/rbthemis/ssession_test.rb
  tests/themispp/secure_session_test_keys.hpp
Owners: @vixentael, @ilammy

Test (missing) RSA key support in Secure Session (#710)
  .gitignore
  CHANGELOG.md
  gothemis/session/session_test.go
  src/wrappers/themis/Obj-C/objcthemis/ssession.m
  src/wrappers/themis/jsthemis/test/test.js
  src/wrappers/themis/python/pythemis/scomparator.py
  src/wrappers/themis/python/pythemis/ssession.py
  src/wrappers/themis/ruby/lib/rbthemis.rb
  tests/pythemis/test_ssession.py
  tests/rbthemis/ssession_test.rb
  tests/themispp/secure_session_test.hpp
  tests/themispp/secure_session_test_keys.hpp
Owners: @vixentael, @ilammy

Replace dymanically generated errors with const ones
  gothemis/cell/cell.go
  gothemis/compare/compare.go
  gothemis/keys/keypair.go
  gothemis/keys/symmetric.go
  gothemis/message/message.go
  gothemis/session/session.go
Owners: @vixentael, @ilammy

Replace dymanically generated callback errors with const ones
  gothemis/session/session.go
Owners: @vixentael, @ilammy

Updates after review
  gothemis/cell/cell.go
  gothemis/compare/compare.go
  gothemis/keys/keypair.go
  gothemis/message/message.go
  gothemis/session/session.go
Owners: @vixentael, @ilammy

Rename ErrOverflow -> ErrOutOfMemory
  gothemis/cell/cell.go
  gothemis/compare/compare.go
  gothemis/keys/keypair.go
  gothemis/keys/symmetric.go
  gothemis/message/message.go
  gothemis/session/session.go
Owners: @vixentael, @ilammy

Updates after review
  CHANGELOG.md
  gothemis/cell/cell.go
  gothemis/compare/compare.go
  gothemis/keys/keypair.go
  gothemis/keys/symmetric.go
  gothemis/message/message.go
  gothemis/session/session.go
Owners: @vixentael, @ilammy

Unify few session errors into ErrMessageSize and ErrMessageData
  gothemis/session/session.go
Owners: @vixentael, @ilammy

Fix typo in changelog, change deprecation version
  CHANGELOG.md
  gothemis/cell/cell.go
  gothemis/compare/compare.go
  gothemis/keys/keypair.go
  gothemis/message/message.go
  gothemis/session/session.go
Owners: @vixentael, @ilammy

Make error messages start with lowercase
  gothemis/cell/cell.go
  gothemis/compare/compare.go
  gothemis/keys/keypair.go
  gothemis/keys/symmetric.go
  gothemis/message/message.go
  gothemis/session/session.go
Owners: @vixentael, @ilammy

Replace dynamically generated errors with constants (#711)
  CHANGELOG.md
  gothemis/cell/cell.go
  gothemis/compare/compare.go
  gothemis/keys/keypair.go
  gothemis/keys/symmetric.go
  gothemis/message/message.go
  gothemis/session/session.go
Owners: @vixentael, @ilammy

avoid memleak on themis_message_set
  src/themis/message.c
Owners: @vixentael, @Lagovas, @ilammy, @storojs72, @ignatk

Remove unused "themis_message_*" functions
  CHANGELOG.md
  Themis.xcodeproj/project.pbxproj
  src/themis/message.c
  src/themis/message.h
Owners: @vixentael, @ilammy, @Lagovas, @storojs72, @ignatk

Correct PR reference in changelog
  CHANGELOG.md
Owners: @vixentael, @ilammy

Update CHANGELOG.md
  CHANGELOG.md
Owners: @vixentael, @ilammy

Remove unused "themis_message_*" functions (#714)
  CHANGELOG.md
  Themis.xcodeproj/project.pbxproj
  src/themis/message.c
  src/themis/message.h
Owners: @vixentael, @ilammy, @Lagovas, @storojs72, @ignatk

Fix Clippy warning
  src/wrappers/themis/rust/src/secure_comparator.rs
Owners: @vixentael, @ilammy, @iamnotacake

Fix Clippy warning (#718)
  src/wrappers/themis/rust/src/secure_comparator.rs
Owners: @vixentael, @ilammy, @iamnotacake

update podspec to fix builds on xcode12
  CHANGELOG.md
  themis.podspec
Owners: @vixentael, @ilammy

ok, use 0.13.2 as podspec version
  themis.podspec
Owners: @vixentael, @ilammy

set ios deployment target to 10.0 for cocoapods projects
  docs/examples/Themis-server/Obj-C/Podfile
  docs/examples/Themis-server/swift/Podfile
  docs/examples/objc/iOS-CocoaPods/Podfile
  docs/examples/swift/iOS-CocoaPods/Podfile
  tests/objcthemis/Podfile
Owners: @vixentael, @ilammy

update themis podspec for 0.13.3 tag
  CHANGELOG.md
  themis.podspec
Owners: @vixentael, @ilammy

Hotfix for Themis CocoaPods podspec: support Xcode12 (#719)
  CHANGELOG.md
  docs/examples/Themis-server/Obj-C/Podfile
  docs/examples/Themis-server/swift/Podfile
  docs/examples/objc/iOS-CocoaPods/Podfile
  docs/examples/swift/iOS-CocoaPods/Podfile
  tests/objcthemis/Podfile
  themis.podspec
Owners: @vixentael, @ilammy

Sync release/0.13 with master [Merge 0.13.2 hotfix for CocoaPods] (#720)
  CHANGELOG.md
  docs/examples/Themis-server/Obj-C/Podfile
  docs/examples/Themis-server/swift/Podfile
  docs/examples/objc/iOS-CocoaPods/Podfile
  docs/examples/swift/iOS-CocoaPods/Podfile
  tests/objcthemis/Podfile
  themis.podspec
Owners: @vixentael, @ilammy

update github actions xcode12
  .github/workflows/test-objc.yaml
Owners: @vixentael, @ilammy

update changelog
  CHANGELOG.md
Owners: @vixentael, @ilammy

update swift ios cocoapods project
  docs/examples/swift/iOS-CocoaPods/Podfile
  docs/examples/swift/iOS-CocoaPods/Podfile.lock
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift.xcodeproj/project.pbxproj
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift.xcodeproj/xcshareddata/xcschemes/ThemisSwift.xcscheme
Owners: @vixentael, @ilammy

Switch github actions to Xcode12 [ios, macos] (#721)
  .github/workflows/test-objc.yaml
  CHANGELOG.md
  docs/examples/swift/iOS-CocoaPods/Podfile
  docs/examples/swift/iOS-CocoaPods/Podfile.lock
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift.xcodeproj/project.pbxproj
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift.xcodeproj/xcshareddata/xcschemes/ThemisSwift.xcscheme
Owners: @vixentael, @ilammy

github actions -> use xcode 12.0
  .github/workflows/test-objc.yaml
Owners: @vixentael, @ilammy

CODEOWNERS:

# Default reviewer set
*                   @vixentael @ilammy
/src/soter/         @vixentael @Lagovas @ilammy @storojs72 @ignatk
/src/themis/        @vixentael @Lagovas @ilammy @storojs72 @ignatk

# Build system
Makefile            @vixentael @ilammy @shadinua
*.mk                @vixentael @ilammy @shadinua
*.sh                @vixentael @ilammy @shadinua

# rust-themis
Cargo.toml          @vixentael @ilammy @iamnotacake
*.rs                @vixentael @ilammy @iamnotacake
