Repository cossacklabs/themis, changes with the owners that CODEOWNERS names for each.
All owners: @vixentael, @ilammy, @Lagovas, @storojs72, @ignatk, @shadinua, @iamnotacake

CODEOWNERS:

# Default reviewer set
*                   @vixentael @ilammy
/src/soter/         @vixentael @Lagovas @ilammy @storojs72 @ignatk
/src/themis/        @vixentael @Lagovas @ilammy @storojs72 @ignatk

# Build system
Makefile            @vixentael @ilammy @shadinua
*.mk                @vixentael @ilammy @shadinua
*.sh                @vixentael @ilammy @shadinua

# rust-themis
Cargo.toml          @vixentael @ilammy @iamnotacake
*.rs                @vixentael @ilammy @iamnotacake

updating ios swift cocoapods example for themis 0.13.3
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift.xcodeproj/project.pbxproj
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Info.plist
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/100.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/1024.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/114.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/120.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/128.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/144.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/152.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/16.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/167.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/172.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/180.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/196.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/20.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/216.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/256.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/29.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/32.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/40.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/48.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/50.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/512.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/55.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/57.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/58.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/60.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/64.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/72.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/76.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/80.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/87.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/88.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
Owners: @vixentael, @ilammy

disable openssl-1.1.1 subspec
  themis.podspec
Owners: @vixentael, @ilammy

"fix" carthage build by disabling arm64
  .github/workflows/test-objc.yaml
Owners: @vixentael, @ilammy

github actions: carthage, exclude arm64 architecture
  .github/workflows/test-objc.yaml
Owners: @vixentael, @ilammy

update changelog
  CHANGELOG.md
Owners: @vixentael, @ilammy

Updates of example projects for Xcode12.0.1 (#722)
  .github/workflows/test-objc.yaml
  CHANGELOG.md
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift.xcodeproj/project.pbxproj
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Info.plist
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/100.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/1024.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/114.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/120.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/128.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/144.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/152.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/16.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/167.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/172.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/180.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/196.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/20.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/216.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/256.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/29.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/32.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/40.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/48.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/50.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/512.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/55.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/57.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/58.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/60.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/64.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/72.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/76.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/80.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/87.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/88.png
  docs/examples/swift/iOS-CocoaPods/ThemisSwift/ThemisSwift/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  themis.podspec
Owners: @vixentael, @ilammy

update ios objc and server examples for themis 0.13.3
  docs/examples/Themis-server/Obj-C/Podfile
  docs/examples/Themis-server/Obj-C/Podfile.lock
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServer.xcodeproj/project.pbxproj
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServer.xcodeproj/xcshareddata/xcschemes/WorkingWithThemisServer.xcscheme
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServer/Info.plist
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServerTests/Info.plist
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServerTests/WorkingWithThemisServerTests.m
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServerUITests/Info.plist
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServerUITests/WorkingWithThemisServerUITests.m
  docs/examples/Themis-server/swift/Podfile
  docs/examples/Themis-server/swift/Podfile.lock
  docs/examples/Themis-server/swift/SwiftThemisServerExample/SwiftThemisServerExample.xcodeproj/project.pbxproj
  docs/examples/Themis-server/swift/SwiftThemisServerExample/SwiftThemisServerExample.xcodeproj/xcshareddata/xcschemes/SwiftThemisServerExample.xcscheme
  docs/examples/Themis-server/swift/SwiftThemisServerExample/SwiftThemisServerExample/Assets.xcassets/AppIcon.appiconset/Contents.json
  docs/examples/objc/iOS-CocoaPods/Podfile
  docs/examples/objc/iOS-CocoaPods/Podfile.lock
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTest.xcodeproj/xcshareddata/xcschemes/ThemisTest.xcscheme
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTest/Info.plist
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTestTests/Info.plist
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTestTests/ThemisTestTests.m
Owners: @vixentael, @ilammy

updated changelog
  CHANGELOG.md
Owners: @vixentael, @ilammy

update ios objc and server examples for themis 0.13.3 (#723)
  CHANGELOG.md
  docs/examples/Themis-server/Obj-C/Podfile
  docs/examples/Themis-server/Obj-C/Podfile.lock
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServer.xcodeproj/project.pbxproj
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServer.xcodeproj/xcshareddata/xcschemes/WorkingWithThemisServer.xcscheme
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServer/Info.plist
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServerTests/Info.plist
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServerTests/WorkingWithThemisServerTests.m
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServerUITests/Info.plist
  docs/examples/Themis-server/Obj-C/WorkingWithThemisServer/WorkingWithThemisServerUITests/WorkingWithThemisServerUITests.m
  docs/examples/Themis-server/swift/Podfile
  docs/examples/Themis-server/swift/Podfile.lock
  docs/examples/Themis-server/swift/SwiftThemisServerExample/SwiftThemisServerExample.xcodeproj/project.pbxproj
  docs/examples/Themis-server/swift/SwiftThemisServerExample/SwiftThemisServerExample.xcodeproj/xcshareddata/xcschemes/SwiftThemisServerExample.xcscheme
  docs/examples/Themis-server/swift/SwiftThemisServerExample/SwiftThemisServerExample/Assets.xcassets/AppIcon.appiconset/Contents.json
  docs/examples/objc/iOS-CocoaPods/Podfile
  docs/examples/objc/iOS-CocoaPods/Podfile.lock
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTest.xcodeproj/xcshareddata/xcschemes/ThemisTest.xcscheme
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTest/Info.plist
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTestTests/Info.plist
  docs/examples/objc/iOS-CocoaPods/ThemisTest/ThemisTestTests/ThemisTestTests.m
Owners: @vixentael, @ilammy

update iOS carthage examples for themis 0.13.3
  docs/examples/objc/iOS-Carthage/Cartfile
  docs/examples/objc/iOS-Carthage/Cartfile.resolved
  docs/examples/objc/iOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/iOS-Carthage/ThemisTest.xcodeproj/xcshareddata/xcschemes/ThemisTest.xcscheme
  docs/examples/objc/iOS-Carthage/carthage_tweaked_build.sh
  docs/examples/swift/iOS-Carthage/Cartfile
  docs/examples/swift/iOS-Carthage/Cartfile.resolved
  docs/examples/swift/iOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/swift/iOS-Carthage/ThemisTest.xcodeproj/xcshareddata/xcschemes/ThemisTest.xcscheme
  docs/examples/swift/iOS-Carthage/carthage_tweaked_build.sh
Owners: @vixentael, @ilammy, @shadinua

updated changelog
  CHANGELOG.md
Owners: @vixentael, @ilammy

update iOS carthage examples for themis 0.13.3 (#724)
  CHANGELOG.md
  docs/examples/objc/iOS-Carthage/Cartfile
  docs/examples/objc/iOS-Carthage/Cartfile.resolved
  docs/examples/objc/iOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/iOS-Carthage/ThemisTest.xcodeproj/xcshareddata/xcschemes/ThemisTest.xcscheme
  docs/examples/objc/iOS-Carthage/carthage_tweaked_build.sh
  docs/examples/swift/iOS-Carthage/Cartfile
  docs/examples/swift/iOS-Carthage/Cartfile.resolved
  docs/examples/swift/iOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/swift/iOS-Carthage/ThemisTest.xcodeproj/xcshareddata/xcschemes/ThemisTest.xcscheme
  docs/examples/swift/iOS-Carthage/carthage_tweaked_build.sh
Owners: @vixentael, @ilammy, @shadinua

updated macOS examples for themis 0.13.3
  docs/examples/objc/macOS-Carthage/Cartfile
  docs/examples/objc/macOS-Carthage/Cartfile.resolved
  docs/examples/objc/macOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/macOS-Carthage/ThemisTest.xcodeproj/xcshareddata/xcschemes/ThemisTest.xcscheme
  docs/examples/objc/macOS-Carthage/ThemisTest/Info.plist
  docs/examples/swift/macOS-Carthage/Cartfile
  docs/examples/swift/macOS-Carthage/Cartfile.resolved
  docs/examples/swift/macOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/swift/macOS-Carthage/ThemisTest.xcodeproj/xcshareddata/xcschemes/ThemisTest.xcscheme
  docs/examples/swift/macOS-Carthage/ThemisTest/Info.plist
Owners: @vixentael, @ilammy

updated changelog
  CHANGELOG.md
Owners: @vixentael, @ilammy

updated macOS examples for themis 0.13.3 (#726)
  CHANGELOG.md
  docs/examples/objc/macOS-Carthage/Cartfile
  docs/examples/objc/macOS-Carthage/Cartfile.resolved
  docs/examples/objc/macOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/objc/macOS-Carthage/ThemisTest.xcodeproj/xcshareddata/xcschemes/ThemisTest.xcscheme
  docs/examples/objc/macOS-Carthage/ThemisTest/Info.plist
  docs/examples/swift/macOS-Carthage/Cartfile
  docs/examples/swift/macOS-Carthage/Cartfile.resolved
  docs/examples/swift/macOS-Carthage/ThemisTest.xcodeproj/project.pbxproj
  docs/examples/swift/macOS-Carthage/ThemisTest.xcodeproj/xcshareddata/xcschemes/ThemisTest.xcscheme
  docs/examples/swift/macOS-Carthage/ThemisTest/Info.plist
Owners: @vixentael, @ilammy

Fix Clippy warning (#718)
  src/wrappers/themis/rust/src/secure_comparator.rs
Owners: @vixentael, @ilammy, @iamnotacake

Support PHP Composer 2.0
  CHANGELOG.md
  tests/phpthemis/composer-php5.6.json
  tests/phpthemis/composer-php7.2.json
  tests/phpthemis/composer-php7.json
Owners: @vixentael, @ilammy

Support PHP Composer 2.0 (#730)
  CHANGELOG.md
  tests/phpthemis/composer-php5.6.json
  tests/phpthemis/composer-php7.2.json
  tests/phpthemis/composer-php7.json
Owners: @vixentael, @ilammy

Support PHP Composer 2.0 (#730)
  tests/phpthemis/composer-php5.6.json
  tests/phpthemis/composer-php7.2.json
  tests/phpthemis/composer-php7.json
Owners: @vixentael, @ilammy

Clean up whitespace
  themis.podspec
Owners: @vixentael, @ilammy

Clean up whitespace
  themis.podspec
Owners: @vixentael, @ilammy

Make Themis a static framework
  CHANGELOG.md
  themis.podspec
Owners: @vixentael, @ilammy

Exclude macOS from arm64 builds with GRKOpenSSL
  CHANGELOG.md
  themis.podspec
Owners: @vixentael, @ilammy

Bump iOS and macOS minimum SDK versions
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

Exclude arm64 for iOS Simulator and macOS
  CHANGELOG.md
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

Remove Carthage arm64 hacks from GitHub Actions
  .github/workflows/test-objc.yaml
Owners: @vixentael, @ilammy

Make Themis a static framework (#731)
  CHANGELOG.md
  themis.podspec
Owners: @vixentael, @ilammy

Exclude macOS from arm64 builds with GRKOpenSSL (#732)
  CHANGELOG.md
  themis.podspec
Owners: @vixentael, @ilammy

Use CocoaPods trunk repo, not development
  docs/examples/Themis-server/Obj-C/Podfile
  docs/examples/Themis-server/Obj-C/Podfile.lock
  docs/examples/Themis-server/swift/Podfile
  docs/examples/Themis-server/swift/Podfile.lock
  docs/examples/objc/iOS-CocoaPods/Podfile
  docs/examples/objc/iOS-CocoaPods/Podfile.lock
  docs/examples/swift/iOS-CocoaPods/Podfile
  docs/examples/swift/iOS-CocoaPods/Podfile.lock
  tests/objcthemis/Podfile
Owners: @vixentael, @ilammy

Do not cache CocoaPods stuff on GHA
  .github/workflows/test-objc.yaml
Owners: @vixentael, @ilammy

Update supported SDKs and archs for Carthage (#733)
  .github/workflows/test-objc.yaml
  CHANGELOG.md
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

Use CocoaPods trunk CDN (#734)
  .github/workflows/test-objc.yaml
  docs/examples/Themis-server/Obj-C/Podfile
  docs/examples/Themis-server/Obj-C/Podfile.lock
  docs/examples/Themis-server/swift/Podfile
  docs/examples/Themis-server/swift/Podfile.lock
  docs/examples/objc/iOS-CocoaPods/Podfile
  docs/examples/objc/iOS-CocoaPods/Podfile.lock
  docs/examples/swift/iOS-CocoaPods/Podfile
  docs/examples/swift/iOS-CocoaPods/Podfile.lock
  tests/objcthemis/Podfile
Owners: @vixentael, @ilammy

Update Carthage to CLOpenSSL 1.1.10801
  Cartfile
  Cartfile.resolved
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

Switch CocoaPods to CLOpenSSL by default
  themis.podspec
Owners: @vixentael, @ilammy

Update CocoaPods to CLOpenSSL 1.1.10801
  themis.podspec
Owners: @vixentael, @ilammy

Uncomment CLOpenSSL subspec
  themis.podspec
Owners: @vixentael, @ilammy

Update CHANGELOG
  CHANGELOG.md
Owners: @vixentael, @ilammy

Update to CLOpenSSL 1.1.10801 (#735)
  CHANGELOG.md
  Cartfile
  Cartfile.resolved
  Themis.xcodeproj/project.pbxproj
  themis.podspec
Owners: @vixentael, @ilammy

Make Themis a static framework (#731)
  CHANGELOG.md
  themis.podspec
Owners: @vixentael, @ilammy

Exclude macOS from arm64 builds with GRKOpenSSL (#732)
  CHANGELOG.md
  themis.podspec
Owners: @vixentael, @ilammy
