Repository cossacklabs/themis, changes with the owners that CODEOWNERS names for each.
All owners: @vixentael, @ilammy, @Lagovas, @storojs72, @ignatk, @shadinua, @iamnotacake

Upgrade package
  src/wrappers/themis/wasm/package-lock.json
  src/wrappers/themis/wasm/test/test.js
Owners: @vixentael, @ilammy

Set timeouts on some CI jobs
  .github/workflows/test-java.yaml
  .github/workflows/test-python.yaml
Owners: @vixentael, @ilammy

Set timeouts on some CI jobs (#797)
  .github/workflows/test-java.yaml
  .github/workflows/test-python.yaml
Owners: @vixentael, @ilammy

Migrate WasmThemis to TypeScript (#792)
  src/wrappers/themis/wasm/.gitignore
  src/wrappers/themis/wasm/emscripten/exports.json
  src/wrappers/themis/wasm/package-lock.json
  src/wrappers/themis/wasm/package.json
  src/wrappers/themis/wasm/src/.gitignore
  src/wrappers/themis/wasm/src/context.ts
  src/wrappers/themis/wasm/src/index.js
  src/wrappers/themis/wasm/src/index.ts
  src/wrappers/themis/wasm/src/libthemis.d.ts
  src/wrappers/themis/wasm/src/secure_cell.ts
  src/wrappers/themis/wasm/src/secure_cell_context_imprint.js
  src/wrappers/themis/wasm/src/secure_cell_context_imprint.ts
  src/wrappers/themis/wasm/src/secure_cell_seal.js
  src/wrappers/themis/wasm/src/secure_cell_seal.ts
  src/wrappers/themis/wasm/src/secure_cell_token_protect.js
  src/wrappers/themis/wasm/src/secure_cell_token_protect.ts
  src/wrappers/themis/wasm/src/secure_comparator.js
  src/wrappers/themis/wasm/src/secure_comparator.ts
  src/wrappers/themis/wasm/src/secure_keygen.js
  src/wrappers/themis/wasm/src/secure_keygen.ts
  src/wrappers/themis/wasm/src/secure_message.js
  src/wrappers/themis/wasm/src/secure_message.ts
  src/wrappers/themis/wasm/src/secure_session.js
  src/wrappers/themis/wasm/src/secure_session.ts
  src/wrappers/themis/wasm/src/themis_error.js
  src/wrappers/themis/wasm/src/themis_error.ts
  src/wrappers/themis/wasm/src/utils.js
  src/wrappers/themis/wasm/src/utils.ts
  src/wrappers/themis/wasm/test/test.js
  src/wrappers/themis/wasm/tsconfig.json
  src/wrappers/themis/wasm/wasmthemis.mk
  tools/js/wasm-themis/keygen.js
  tools/js/wasm-themis/scell_context_string_echo.js
  tools/js/wasm-themis/scell_seal_string_echo.js
  tools/js/wasm-themis/scell_seal_string_echo_pw.js
  tools/js/wasm-themis/scell_token_string_echo.js
  tools/js/wasm-themis/smessage_encryption.js
Owners: @vixentael, @ilammy, @shadinua

Update zeroize to "1"
  CHANGELOG.md
  src/wrappers/themis/rust/Cargo.toml
Owners: @vixentael, @ilammy, @iamnotacake

Update zeroize to "1" (#799)
  CHANGELOG.md
  src/wrappers/themis/rust/Cargo.toml
Owners: @vixentael, @ilammy, @iamnotacake

Update zeroize to "1"
  src/wrappers/themis/rust/Cargo.toml
Owners: @vixentael, @ilammy, @iamnotacake

Update zeroize to "1" (#799 => #800)
  src/wrappers/themis/rust/Cargo.toml
Owners: @vixentael, @ilammy, @iamnotacake

Add Node.js v16 support
  .github/workflows/test-nodejs.yaml
  .github/workflows/test-wasm.yaml
  CHANGELOG.md
Owners: @vixentael, @ilammy

Test Node.js examples with recent Node.js versions
  .github/workflows/test-nodejs.yaml
Owners: @vixentael, @ilammy

Test {Js,Wasm}Themis with Node.js v16 (#801)
  .github/workflows/test-nodejs.yaml
  .github/workflows/test-wasm.yaml
  CHANGELOG.md
Owners: @vixentael, @ilammy

add swift SPM test project
  docs/examples/swift/iOS-SPM/iOS-SPM.xcodeproj/project.pbxproj
  docs/examples/swift/iOS-SPM/iOS-SPM.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  docs/examples/swift/iOS-SPM/iOS-SPM.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  docs/examples/swift/iOS-SPM/iOS-SPM/AppDelegate.swift
  docs/examples/swift/iOS-SPM/iOS-SPM/Assets.xcassets/AccentColor.colorset/Contents.json
  docs/examples/swift/iOS-SPM/iOS-SPM/Assets.xcassets/AppIcon.appiconset/Contents.json
  docs/examples/swift/iOS-SPM/iOS-SPM/Assets.xcassets/Contents.json
  docs/examples/swift/iOS-SPM/iOS-SPM/Base.lproj/LaunchScreen.storyboard
  docs/examples/swift/iOS-SPM/iOS-SPM/Base.lproj/Main.storyboard
  docs/examples/swift/iOS-SPM/iOS-SPM/Info.plist
  docs/examples/swift/iOS-SPM/iOS-SPM/SceneDelegate.swift
  docs/examples/swift/iOS-SPM/iOS-SPM/ViewController.swift
Owners: @vixentael, @ilammy

add macOS swift SPM example, updated iOS one
  docs/examples/swift/iOS-SPM/iOS-SPM.xcodeproj/project.pbxproj
  docs/examples/swift/macOS-SPM/macOS-SPM.xcodeproj/project.pbxproj
  docs/examples/swift/macOS-SPM/macOS-SPM.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  docs/examples/swift/macOS-SPM/macOS-SPM.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  docs/examples/swift/macOS-SPM/macOS-SPM/AppDelegate.swift
  docs/examples/swift/macOS-SPM/macOS-SPM/Assets.xcassets/AccentColor.colorset/Contents.json
  docs/examples/swift/macOS-SPM/macOS-SPM/Assets.xcassets/AppIcon.appiconset/Contents.json
  docs/examples/swift/macOS-SPM/macOS-SPM/Assets.xcassets/Contents.json
  docs/examples/swift/macOS-SPM/macOS-SPM/Base.lproj/Main.storyboard
  docs/examples/swift/macOS-SPM/macOS-SPM/Info.plist
  docs/examples/swift/macOS-SPM/macOS-SPM/ViewController.swift
  docs/examples/swift/macOS-SPM/macOS-SPM/macOS_SPM.entitlements
Owners: @vixentael, @ilammy

updates per pr comments
  Package.swift
  Themis.xcodeproj/project.pbxproj
  create_xcframeworks.sh
  scripts/create_xcframeworks.sh
Owners: @vixentael, @ilammy, @shadinua

testing commit to trigger tests
  docs/examples/swift/macOS-Carthage/ThemisTest/AppDelegate.swift
Owners: @vixentael, @ilammy

remove openssl SPM package from Themis.xcodeproj
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

try to run tests on 12.4 with no SPM
  .github/workflows/test-objc.yaml
Owners: @vixentael, @ilammy

back to xcode 12.0.1 with SPM not in target
  .github/workflows/test-objc.yaml
  Themis.xcodeproj/project.pbxproj
  Themis.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @vixentael, @ilammy

removed cl-openssl from Themis.xcodeproj + edits per pr comments + extra comments
  Package.swift
  Themis.xcodeproj/project.pbxproj
  scripts/create_xcframeworks.sh
Owners: @vixentael, @ilammy, @shadinua

removed example projects
  docs/examples/swift/iOS-SPM/iOS-SPM.xcodeproj/project.pbxproj
  docs/examples/swift/iOS-SPM/iOS-SPM.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  docs/examples/swift/iOS-SPM/iOS-SPM.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  docs/examples/swift/iOS-SPM/iOS-SPM/AppDelegate.swift
  docs/examples/swift/iOS-SPM/iOS-SPM/Assets.xcassets/AccentColor.colorset/Contents.json
  docs/examples/swift/iOS-SPM/iOS-SPM/Assets.xcassets/AppIcon.appiconset/Contents.json
  docs/examples/swift/iOS-SPM/iOS-SPM/Assets.xcassets/Contents.json
  docs/examples/swift/iOS-SPM/iOS-SPM/Base.lproj/LaunchScreen.storyboard
  docs/examples/swift/iOS-SPM/iOS-SPM/Base.lproj/Main.storyboard
  docs/examples/swift/iOS-SPM/iOS-SPM/Info.plist
  docs/examples/swift/iOS-SPM/iOS-SPM/SceneDelegate.swift
  docs/examples/swift/iOS-SPM/iOS-SPM/ViewController.swift
  docs/examples/swift/macOS-SPM/macOS-SPM.xcodeproj/project.pbxproj
  docs/examples/swift/macOS-SPM/macOS-SPM.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  docs/examples/swift/macOS-SPM/macOS-SPM.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  docs/examples/swift/macOS-SPM/macOS-SPM/AppDelegate.swift
  docs/examples/swift/macOS-SPM/macOS-SPM/Assets.xcassets/AccentColor.colorset/Contents.json
  docs/examples/swift/macOS-SPM/macOS-SPM/Assets.xcassets/AppIcon.appiconset/Contents.json
  docs/examples/swift/macOS-SPM/macOS-SPM/Assets.xcassets/Contents.json
  docs/examples/swift/macOS-SPM/macOS-SPM/Base.lproj/Main.storyboard
  docs/examples/swift/macOS-SPM/macOS-SPM/Info.plist
  docs/examples/swift/macOS-SPM/macOS-SPM/ViewController.swift
  docs/examples/swift/macOS-SPM/macOS-SPM/macOS_SPM.entitlements
Owners: @vixentael, @ilammy

updated xcodeproj version
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

updated Package.swift
  Package.swift
Owners: @vixentael, @ilammy

updated changelog
  CHANGELOG.md
Owners: @vixentael, @ilammy

Update CHANGELOG.md
  CHANGELOG.md
Owners: @vixentael, @ilammy

Add SPM support with XCF (#789)
  CHANGELOG.md
  Package.swift
  Themis.xcodeproj/project.pbxproj
  scripts/create_xcframeworks.sh
Owners: @vixentael, @ilammy, @shadinua

Use "ubuntu-20.04" for AFL fuzzing job (#790)
  .github/workflows/test-core.yaml
Owners: @vixentael, @ilammy

Add SPM support with XCF (#789)
  CHANGELOG.md
  Package.swift
  Themis.xcodeproj/project.pbxproj
  scripts/create_xcframeworks.sh
Owners: @vixentael, @ilammy, @shadinua

fixed automerge issue
  CHANGELOG.md
Owners: @vixentael, @ilammy

fixed typo
  CHANGELOG.md
Owners: @vixentael, @ilammy

SPM support with XCF (#789) (#806)
  CHANGELOG.md
  Package.swift
  Themis.xcodeproj/project.pbxproj
  scripts/create_xcframeworks.sh
Owners: @vixentael, @ilammy, @shadinua

Remove "Recovered references" after merge
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

Use whatever Python is available in the system
  third_party/boringssl/generate_build_files.sh
Owners: @vixentael, @ilammy, @shadinua

Update to latest BoringSSL (once again)
  Themis.xcodeproj/project.pbxproj
  third_party/boringssl/boringssl.gypi
  third_party/boringssl/err_data.c
  third_party/boringssl/ios-aarch64/crypto/chacha/chacha-armv8.S
  third_party/boringssl/ios-aarch64/crypto/fipsmodule/aesv8-armx64.S
  third_party/boringssl/ios-aarch64/crypto/fipsmodule/sha1-armv8.S
  third_party/boringssl/ios-aarch64/crypto/fipsmodule/sha256-armv8.S
  third_party/boringssl/ios-aarch64/crypto/fipsmodule/sha512-armv8.S
  third_party/boringssl/ios-aarch64/crypto/fipsmodule/vpaes-armv8.S
  third_party/boringssl/ios-arm/crypto/fipsmodule/aesv8-armx32.S
  third_party/boringssl/mac-x86_64/crypto/cipher_extra/chacha20_poly1305_x86_64.S
Owners: @vixentael, @ilammy

Remove "arm64e" architecture from iOS builds
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

Include ARM assembly for macOS as well
  Themis.xcodeproj/project.pbxproj
  third_party/boringssl/update_xcodeproj.rb
Owners: @vixentael, @ilammy

Actually include ARM files into macOS builds
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

Don't set OPENSSL_NO_ASM for macOS anymore
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

Adjust changelog to mention only BoringSSL update
  CHANGELOG.md
Owners: @vixentael, @ilammy

Remove BoringSSL mentions from Objective-C and Swift sections
  CHANGELOG.md
Owners: @vixentael, @ilammy

Use embedded BoringSSL headers
  Themis.xcodeproj/project.pbxproj
Owners: @vixentael, @ilammy

CODEOWNERS:

# Default reviewer set
*                   @vixentael @ilammy
/src/soter/         @vixentael @Lagovas @ilammy @storojs72 @ignatk
/src/themis/        @vixentael @Lagovas @ilammy @storojs72 @ignatk

# Build system
Makefile            @vixentael @ilammy @shadinua
*.mk                @vixentael @ilammy @shadinua
*.sh                @vixentael @ilammy @shadinua

# rust-themis
Cargo.toml          @vixentael @ilammy @iamnotacake
*.rs                @vixentael @ilammy @iamnotacake
